/* reset */
body{ font-family:"宋体"; font-size:12px; line-height:150%; padding: 0; margin: 0; background:#fff; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,blockquote,th,td {   
    padding: 0;   
    margin: 0;   
}   
table {   
    border-collapse: collapse;   
    border-spacing: 0;   
}   
fieldset,img {   
    border: 0;   
}   
address,caption,cite,code,dfn,em,strong,th,var {   
    font-weight: normal;   
    font-style: normal;   
}
ol,ul {   
    list-style: none;   
}   
caption,th {   
    text-align: left;   
}   
h1,h2,h3,h4,h5,h6 {   
    font-weight: normal;   
    font-size: 100%;   
}   
q:before,q:after {    
    content:'';   
}   
abbr,acronym { border: 0;   
} 
.clear{ clear:both;}
.fl{ float:left; _display:inline;}
.fr{ float:right; _display:inline;}




/***弹出层***/
.al_box_s1{position:absolute; top:50px; right:90px; }
.al_box_s2{ position:absolute; left:50%; top:50%;}
.alert_box{ width:254px; height:auto; overflow:hidden; z-index:999;}

.alert_box .box_top{ width:252px; height:1px; overflow:hidden; background:#fff; margin:0 auto;}
.alert_box .box_mid{ width:100%; height:auto; overflow:hidden; background:#fff;}
.alert_box .box_bot{width:252px; height:1px; overflow:hidden; background:#fff; margin:0 auto;}

.alert_box .box_mid .title{ width:250px; _width:254px; height:33px; background:url(../images/img_y.png) repeat-x 0 -205px; margin-left:2px; _margin-left:0px; display:inline; line-height:33px; float:left;}
.alert_box .box_mid .title h2{ font-weight:bold; color:#666; float:left; margin-left:15px; display:inline;}
.alert_box .box_mid .title a.close{ background:url(../images/full_image1.png) no-repeat -560px -20px; _background:url(../images/image_ie6_1.png) no-repeat -730px -55px; width:19px; height:19px; display:block; overflow:hidden; float:right; margin-right:10px; display:inline; margin-top:5px;}
.alert_box .box_mid p{ padding:12px 20px;  color:#999;  float:left; line-height:180%; width:214px;}
.alert_box .box_mid p span{ color:#666; font-weight:bold; line-height:300%;}
.alert_box .box_mid p em{ color:#4E90DB;}

.alert_box .box_mid a.iknow{ float:right; margin-right:20px; display:inline; color:#4E90DB; text-decoration:none;  line-height:200%; padding-bottom:10px;}
.alert_box .box_mid a.iknow:hover{ text-decoration:underline;}


/***弹出层***/

.page{ margin-top:18px; padding-bottom:18px; *padding-bottom:3px; float:right;}
.page a{ font-weight:bold; color:#666; margin-left:3px; margin-right:3px;  text-decoration:none; *cursor:pointer; float:left; display:block inline;}
.page a:hover{ color:#4E90DB;}
.page p{ width:3px; height:27px; overflow:hidden; float:left;}
.page strong{ float:left; height:27px; padding-left:7px; padding-right:7px; line-height:27px; line-height:28px\9; overflow:hidden;}
.page .link .l{background:url(../images/full_image1.png) -545px -15px; _background:url(../images/image_ie6_1.png) -545px -15px;}
.page .link .r{ background:url(../images/full_image1.png) -548px -15px; _background:url(../images/image_ie6_1.png) -548px -15px; }
.page .link .m{ background:url(../images/img_y_ie6.png) repeat-x 0 0; _background:url(../images/img_y_ie6.png) repeat-x 0 0;}

.page .active .l{ background:url(../images/full_image1.png) -530px -15px; _background:url(../images/image_ie6_1.png) -530px -15px;}
.page .active .r{ background:url(../images/full_image1.png) -533px -15px; _background:url(../images/image_ie6_1.png) -533px -15px;}
.page .active .m{ background:url(../images/img_y.png) repeat-x 0 -28px; _background:url(../images/img_y_ie6.png) repeat-x 0 -28px; color:#fff;}



/********************/
.main{ width:800px; height:auto; display:block; margin:auto; }
.skin_top_new{ width:100%; height:9px; background:url(../images/full_image1.png) no-repeat 0 -740px;   overflow:hidden;}

.skin_top{ width:100%; height:65px; }
.skin_top .top_left{ width:5px; height:65px; overflow:hidden; background:url(../images/full_image1.png) 0px -10px;  float:left;}
.skin_top .top_right{ width:5px; height:65px; overflow:hidden; background:url(../images/full_image1.png) -5px -10px; float:right;}
.skin_top .top_mid{ width:790px; height:65px; background:url(../images/img_y.png) repeat-x 0 -135px;  position:relative; float:left;  *z-index:1;}
.top_mid .top_high_line{ background:url(../images/full_image1.png) -325px -80px; width:460px; height:2px; overflow:hidden; position:absolute; top:0; left:10px;}

.top_mid .zjxq{ margin-left:15px; margin-top:25px;}
.top_mid .zjxq a.wantgo{ font-size:14px; color:#C8DBF0; text-decoration:none;} 
.top_mid .zjxq a.wantgo:hover{ color:#fff; text-decoration:underline;}
.zjxq_input{ margin-left:10px; margin-top:18px; }
.zjxq_input p{ height:29px; display:block; float:left;}

/**********错误提示和下拉菜单**********/
.zjxq_input .select_menu{ width:108px; height:auto; overflow:hidden; position:absolute; background:#000; top:47px; *top:48px; left:96px; z-index:999; padding:1px; padding-top:0px; background:url(../images/select_menu_bg.png) repeat; display:none;}
.zjxq_input .select_menu a{ float:left;  display:block; height:30px;  line-height:30px; width:100px; color:#fff; padding-left:8px; text-decoration:none; margin-top:1px;}
.zjxq_input .select_menu a:hover{  background:url(../images/img_y.png) repeat-x 0 -74px;  color:#8F5033;}
.error{ position:absolute; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5;opacity: 0.5; padding-left:20px; padding-right:20px; line-height:30px; height:30px; background:#000; z-index:999; color:#fff; _white-space:nowrap;}

.zjxq_input .error{ top:47px; *top:48px; left:96px;}
.dy .error{top:47px; *top:48px; left:573px;}
.add_insterest .error{bottom:0px; *bottom:0px; _bottom:-1px; left:135px; _left:130px;}
.add_dy .error{bottom:0px; left:115px; _left:110px;}
/**********错误提示和下拉菜单**********/


.zjxq_input p.l{ background:url(../images/full_image1.png) -510px -235px;  _background:url(../images/image_ie6_1.png) -510px -235px; width:6px; *margin-top:1px;}
.zjxq_input p.r{ background:url(../images/full_image1.png) -680px -235px; _background:url(../images/image_ie6_1.png) -680px -235px; width:1px; *margin-top:1px;}
.zjxq_input span{ float:left;}
.zjxq_input span input{  background:url(../images/img_y.png) repeat-x 0 -105px; _background:url(../images/img_y_ie6.png) repeat-x 0 -105px; height:29px; width:104px; border:0; line-height:29px; color:#98ACC2; }
.zjxq_input a.btn{ width:56px; height:29px; display:block; text-align:center; text-decoration:none;  float:left; color:#fff; font-size:14px; *margin-top:1px; line-height:29px; line-height:30px\0; *line-height:29px;}
.zjxq_input a.add{ background:url(../images/add_btn.jpg) no-repeat 0 -30px;}
.zjxq_input a.add:hover{ background:url(../images/add_btn.jpg) no-repeat 0 0; color:#8F5033;}

.zjxq_input a.zhao{background:url(../images/full_image1.png) no-repeat -620px -235px;  _background:url(../images/image_ie6_1.png) no-repeat -620px -235px; }
.zjxq_input a.yao{ background:url(../images/full_image1.png) no-repeat -590px -235px;  _background:url(../images/image_ie6_1.png) no-repeat -590px -235px;}



.dy{ margin-right:10px;  margin-top:18px; }
.dy span{ float:left;}
.dy p{ height:29px; overflow:hidden; float:left;}
.dy p.l{ background:url(../images/full_image1.png) -510px -235px; _background:url(../images/image_ie6_1.png) -510px -235px;   width:6px; *margin-top:1px;}
.dy span input{ background:url(../images/img_y.png) repeat-x 0 -105px; _background:url(../images/img_y_ie6.png) repeat-x 0 -105px; height:29px; width:144px; border:0; line-height:29px; color:#98ACC2; }
.dy a{ background:url(../images/full_image1.png) no-repeat -631px -181px; _background:url(../images/image_ie6_1.png) no-repeat -631px -181px; width:58px; _width:57px; height:29px; text-align:center; overflow:hidden; *margin-top:1px; line-height:29px; line-height:30px\0; *line-height:29px; display:block; text-decoration:none; color:#666; font-weight:bold; float:left;}

.message{ margin-right:10px; margin-top:25px; position:relative; }
.message .message_num{ position:absolute; top:-18px; right:-1px;}
.message_num span{ background:#294D6E; height:15px; color:#fff; font-family:Tahoma; font-size:10px; float:left; padding-left:5px; padding-right:5px; overflow:hidden; line-height:15px; *line-height:13px;} 

.message a{ font-size:14px; color:#C8DBF0; text-decoration:none;} 
.message a:hover{ color:#fff; text-decoration:underline;}

.home{ margin-left:90px; margin-top:22px;}
.home p{ background:url(../images/full_image1.png) no-repeat -5px -160px; _background:url(../images/image_ie6_1.png) no-repeat -5px -160px; width:21px; height:21px; overflow:hidden;  float:left;}
.home a{ padding-left:5px; font-size:14px; color:#C8DBF0; text-decoration:none; font-size:14px; float:left; font-weight:bold; margin-top:2px; *margin-top:1px;_margin-top:2px;}
.home a:hover{ color:#fff; text-decoration:underline;}



.skin_body{ width:100%; height:auto;  min-height:385px; _height:385px; background:url(../images/img_x.png) repeat-y -1210px 0; }
.skin_body .skin_top_bg{ background:url(../images/full_image1.png) no-repeat 0 -760px; _background:url(../images/image_ie6_1.png) no-repeat 0 -760px; width:100%; height:auto; min-height:324px; _height:324px; overflow:hidden; _overflow:none; position:relative; padding-bottom:61px;}
.skin_body .skin_top_bg_new{width:100%; height:auto; min-height:324px; _height:324px; overflow:hidden; _overflow:none; position:relative; padding-bottom:61px;}

.pro_box{ background:url(../images/full_image1.png) no-repeat -15px -10px; _background:url(../images/image_ie6_1.png) no-repeat -15px -10px;  width:304px; height:39px; _height:40px; text-align:center; position:absolute; top:0; left:248px;}
.pro_box p{ color:#fff; line-height:39px;}
.integral{ position:absolute; top:30px; right:90px;}
.integral p{ color:#fff; float:left;}
.integral a{ float:left; margin-left:8px; display:inline block; cursor:pointer; background:url(../images/full_image1.png) no-repeat -5px -190px; _background:url(../images/image_ie6_1.png) no-repeat -5px -190px; width:16px; height:16px;}

.content{ width:604px; height:auto; display:block; margin:0 auto; margin-top:78px; position:relative; *padding-top:78px;}

.white .top{ width:602px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}
.white .mid{ width:604px; height:auto; overflow:hidden; background:#FFF; position:relative; z-index:998;}
.white .bot{ width:602px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}

.yellow .top{ width:602px; height:1px;  overflow:hidden; background:#FDFAEE;  margin:0 auto;}
.yellow .mid{ width:604px; height:auto; overflow:hidden; background:#FDFAEE; }
.yellow .bot{ width:602px; height:1px;  overflow:hidden; background:#FDFAEE; margin:0 auto;}




.content .mid .jz_box{ padding:30px 35px; float:left;}

/********** index ************/
.mid .jz_box .photo{ background:url(../images/full_image1.png) no-repeat -590px -330px; _background:url(../images/image_ie6_1.png) no-repeat -590px -330px;  width:120px; height:120px; padding:7px; margin-right:32px;}
.mid .jz_box .infor{}
.mid .jz_box .infor h2{ margin-top:8px;}
.mid .jz_box .infor h2 span{ font-size:16px; font-family:"微软雅黑", "宋体";}
.mid .jz_box .infor h2 .u{ color:#336AAE;}
.mid .jz_box .infor h2 a.user{color:#336AAE; text-decoration:none;}
.mid .jz_box .infor h2 a.user:hover{ text-decoration:underline; }
.mid .jz_box .infor h2 .w{ color:#666; margin:0 8px;}
.mid .jz_box .infor h2 .v{ color:#F26418; font-weight:bold;}
.mid .jz_box .infor h2 .v a{ color:#F26418; font-weight:bold; text-decoration:none;}
.mid .jz_box .infor h2 .v a:hover{ text-decoration:underline;}
.mid .jz_box .infor h2 .x{ color:#666; margin-right:8px;}
.mid .jz_box .infor p{ color:#999; margin-top:20px; padding-bottom:20px;}
.mid .jz_box .infor h5{ color:#999; margin-top:8px; width:360px;}
.mid .jz_box .infor h5 a{ color:#4E90DB; text-decoration:underline;}
.mid .jz_box .infor h6{ color:#666; margin-top:5px; padding-bottom:7px;}
.mid .jz_box .infor h6 a{margin:0 5px; color:#4E90DB; text-decoration:none; font-weight:bold;}
.mid .jz_box .infor h6 a:hover{ text-decoration:underline;}

.mid .jz_box .infor a.btn{ width:124px; height:40px; display:block inline; line-height:40px; text-decoration:none; font-weight:bold; float:left; margin-right:10px; margin-top:1px;}
.mid .jz_box .infor a.want{  background:url(../images/full_image1.png) no-repeat -20px -450px; }
.mid .jz_box .infor a.want:hover{ background:url(../images/full_image1.png) no-repeat -20px -500px; }
.mid .jz_box .infor a.dwant{ background:url(../images/full_image1.png) no-repeat -150px -450px; }
.mid .jz_box .infor a.dwant:hover{ background:url(../images/full_image1.png) no-repeat -150px -500px; }

.mid .jz_box .icon1{background:url(../images/full_image1.png) no-repeat -685px -540px; _background:url(../images/image_ie6_1.png) no-repeat -685px -540px;  width:93px; height:98px;  margin-right:47px; margin-left:10px;}
.mid .jz_box h3{ float:left; margin-left:15px; color:#999; margin-top:13px; display:inline;}
.mid .jz_box .infor a.zjl{width:119px; height:44px; display:block; float:left; margin-top:1px; background:url(../images/full_image1.png) no-repeat -290px -550px; color:#C8DCF1; line-height:44px; font-size:14px; font-weight:bold; padding-left:35px; text-decoration:none;}
.mid .jz_box .infor a.zjl:hover{background:url(../images/full_image1.png) no-repeat -290px -600px; color:#fff;}

.mid .jz_box .df{ width:360px;}
.mid .jz_box .df h2{ margin-top:1px; line-height:200%;}
.mid .jz_box .df h2 span{ font-size:16px; font-family:"微软雅黑", "宋体";}
.mid .jz_box .df h2 .u{ color:#336AAE; margin:0 8px;}
.mid .jz_box .df h2 a.user{color:#336AAE; text-decoration:none;}
.mid .jz_box .df h2 a.user:hover{ text-decoration:underline; }
.mid .jz_box .df h2 .w{ color:#666; }
.mid .jz_box .df p{ color:#999; margin-top:20px; padding-bottom:20px;}

.mid .jz_box .df .df_btn{}
.mid .jz_box .df .df_btn a{ width:124px; height:44px; display:block; text-align:center; font-size:14px; font-weight:bold; line-height:44px; background:url(../images/full_image1.png) no-repeat; _background:url(../images/image_ie6_1.png) no-repeat; float:left; margin-right:10px; text-decoration:none;}
.mid .jz_box .df .df_btn a.yes{ color:#628B2A; background-position:-20px -550px; }
.mid .jz_box .df .df_btn a.yes:hover{ color:#4E7913; background-position:-20px -600px; }
.mid .jz_box .df .df_btn a.no{ color:#3E76AE; background-position:-150px -550px; }
.mid .jz_box .df .df_btn a.no:hover{ color:#205F9D; background-position:-150px -600px; }


.jz_box .star {  }
.jz_box .star span{ width:32px; height:32px; margin-right:10px; overflow:hidden; display:line; float:left; cursor:pointer;}
.jz_box .star span.link{ background:url(../images/full_image1.png) no-repeat -700px -15px; _background:url(../images/image_ie6_1.png) no-repeat -700px -15px;}
.jz_box .star span.hover{ background:url(../images/full_image1.png) no-repeat -660px -15px; _background:url(../images/image_ie6_1.png) no-repeat -660px -15px;}
/*
.jz_box .star em{ float:left; background:#4991DB; padding-left:10px; padding-right:10px; height:30px; line-height:30px; color:#fff; margin-left:10px; display:inline; margin-top:1px;}
*/
.jz_box .star em{ float:left; line-height:30px; font-size:16px; font-family:"微软雅黑", "宋体"; color:#333; margin-left:10px; display:inline; margin-top:1px;}




.content .next_btn1{ width:94px; height:43px; position:absolute; bottom:-51px; *bottom:-50px; right:-2px;}
/*.content .next_btn1{ float:right; margin-top:8px; width:94px; height:43px;}*/
.content .next_btn1 a{background:url(../images/full_image1.png) no-repeat -170px -80px; _background:url(../images/image_ie6_1.png) no-repeat -170px -80px; display:block; text-align:center; line-height:40px; line-height:45px\9; *line-height:42px; color:#CEDFF5; font-size:14px; font-weight:bold; text-decoration:none; height:43px;}
.content .next_btn1 a:hover{ color:#fff;}

.content .next_btn{ float:right; margin-top:8px; width:94px; height:43px;}
.content .next_btn a{background:url(../images/next_btn.png) no-repeat; _background:url(../images/next_btn_ie6.png) no-repeat; display:block; text-align:center; line-height:40px; line-height:45px\9; *line-height:42px; color:#666; font-size:14px; font-weight:bold; text-decoration:none; height:43px;}
.content .next_btn a:hover{ color:#333;}



.content .round_num{ width:auto; position:absolute; bottom:-35px; left:5px; }
.content .round_num span { width:11px; height:12px; float:left; margin-left:3px; margin-right:3px; background:url(../images/full_image1.png) no-repeat -745px -35px;  overflow:hidden; cursor:pointer;}
.content .round_num span.hover{ background:url(../images/full_image1.png) no-repeat -765px -35px; * background:url(../images/full_image1.png) no-repeat -764px -34px;} 

.skin_bottom{ width:100%; height:9px; overflow:hidden; background:url(../images/full_image1.png) no-repeat 0 0;}



/********** 我的拒宅兴趣 ************/
.jzq{ float:left; margin:15px; height:auto; overflow:hidden; display:inline; *padding-bottom:15px; _padding-bottom:0px;}
.jzq .interesting{ float:left; width:285px;  height:auto; overflow:hidden;}
.jzq .interesting h2{ float:left; width:100%; margin-left:6px; display:inline;}
.jzq .interesting h2 p{ color:#666; font-size:14px; font-weight:bold; float:left; margin-left:5px; margin-right:10px; display:inline;}
.jzq .interesting h2 span{ color:#4E90DB; font-family:Arial, Helvetica, sans-serif; font-size:11px;  float:left;}

.jzq .interesting_list{ float:left; margin-top:10px;}
.jzq .interesting_list p{ float:left; position:relative; margin-left:1px; margin-right:1px; display:inline; margin-top:3px; padding-bottom:3px; *white-space:nowrap;}
.jzq .interesting_list p span{ width:1px; height:21px; float:left; margin-top:1px; overflow:hidden;}
.jzq .interesting_list p a.key_words{ height:23px; padding-left:12px; padding-right:19px; float: left;  line-height:23px; color:#999; text-decoration:none; cursor:pointer;}
.jzq .interesting_list p a.close{ position:absolute; top:2px; right:2px; _right:1px; display:none; width:11px; height:19px;}

.jzq .interesting_list p.hover span{background:#4E90DB; }
.jzq .interesting_list p.hover a.key_words{ background:#4E90DB; color:#fff; cursor:pointer;}
.jzq .interesting_list p.hover a.close{  display:block; background:url(../images/full_image1.png) no-repeat -760px -90px; _background:url(../images/image_ie6_1.png) no-repeat -760px -90px;}
.jzq .interesting_list p a.close:hover{  background:url(../images/full_image1.png) no-repeat -775px -90px; _background:url(../images/image_ie6_1.png) no-repeat -775px -90px;}

.jzq .arrow{ margin-right:15px; }
.jzq .arrow a{ float:left; margin-left:8px; width:20px; height:20px; display:block; overflow:hidden;}
.jzq .arrow a.l{ background:url(../images/full_image1.png) no-repeat -600px -20px;}
.jzq .arrow a.r{ background:url(../images/full_image1.png) no-repeat -625px -20px;}

.rec_insterest{ float:right; border-left:1px solid #EDEADF; display:block; height:auto; width:269px; padding-left:15px;}
.rec_insterest .rec_tab{ float:left; margin-left:3px; display:inline;}

.rec_tab p{float:left; position:relative; margin-right:5px; display:inline; *white-space:nowrap; }
.rec_tab p span{height:21px; margin-top:1px; width:1px; overflow:hidden;}
.rec_tab p a{ height:23px; padding-left:5px; padding-right:5px; float: left;  line-height:23px; color:#fff; text-decoration:none; }
.rec_tab p strong{position:absolute; left:44%; bottom:-3px; width:6px; height:3px; overflow:hidden; display:none;}



.rec_insterest .hot span{background:#EED4CA;} 
.rec_tab .hot a{background:#EED4CA; color:#C46560} 
.rec_insterest .hot a{background:#EED4CA; color:#C46560} 
.rec_insterest .hot .hover a{ background:#C46560; color:#fff; }
.rec_insterest .hot .hover span{ background:#C46560;}
.rec_tab .act_hot span{background:#CC7B77;} 
.rec_tab .act_hot a{background:#CC7B77; color:#fff;} 
.rec_tab .act_hot strong{display:block; background:url(../images/full_image1.png) no-repeat -635px -65px;}



.rec_insterest .joy span{background:#E3D3E6;} 
.rec_insterest .joy a{background:#E3D3E6; color:#A679D2;}  
.rec_insterest .joy .hover a{ background:#A679D2; color:#fff; }
.rec_insterest .joy .hover span{ background:#A679D2;}
.rec_tab .act_joy span{background:#A679D2;} 
.rec_tab .act_joy a{background:#A679D2; color:#fff;} 
.rec_tab .act_joy strong{display:block; background:url(../images/full_image1.png) no-repeat -645px -65px;}


.rec_insterest .sport span{background:#FDE1BC;} 
.rec_insterest .sport a{background:#FDE1BC; color:#FE9929;} 
.rec_insterest .sport .hover a{ background:#FE9929; color:#fff; }
.rec_insterest .sport .hover span{ background:#FE9929;}
.rec_tab .act_sport span{background:#FEA747;} 
.rec_tab .act_sport a{background:#FEA747; color:#fff;} 
.rec_tab .act_sport strong{display:block; background:url(../images/full_image1.png) no-repeat -655px -65px;}



.rec_insterest .travel span{background:#E0F5AB;} 
.rec_insterest .travel a{background:#E0F5AB; color:#78B30D;} 
.rec_insterest .travel .hover a{ background:#78B30D; color:#fff; }
.rec_insterest .travel .hover span{ background:#78B30D;}
.rec_tab .act_travel span{background:#78B30D;} 
.rec_tab .act_travel a{background:#78B30D; color:#fff;} 
.rec_tab .act_travel strong{display:block; background:url(../images/full_image1.png) no-repeat -665px -65px;}





.rec_insterest .leisure span{background:#D5E3EB;} 
.rec_insterest .leisure a{background:#D5E3EB; color:#7AADE4;} 
.rec_insterest .leisure .hover a{ background:#7AADE4; color:#fff; }
.rec_insterest .leisure .hover span{ background:#7AADE4;}
.rec_tab .act_leisure span{background:#7AADE4;} 
.rec_tab .act_leisure a{background:#7AADE4; color:#fff;} 
.rec_tab .act_leisure strong{display:block; background:url(../images/full_image1.png) no-repeat -675px -65px;}



.rec_insterest .food span{background:#FED3C1;} 
.rec_insterest .food a{background:#FED3C1; color:#FF7A59;}
.rec_insterest .food .hover a{ background:#FF7A59; color:#fff; }
.rec_insterest .food .hover span{ background:#FF7A59;} 
.rec_tab .act_food span{background:#FF7A59;} 
.rec_tab .act_food a{background:#FF7A59; color:#fff;} 
.rec_tab .act_food strong{display:block; background:url(../images/full_image1.png) no-repeat -685px -65px;}

.rec_insterest .none a{ background:#EAEAEA; color:#aaa; cursor:default;}
.rec_insterest .none span{ background:#EAEAEA;}


.rec_words{float:left; margin-top:5px; }
.rec_words p{ float:left; margin-left:4px; margin-right:4px; display:inline block; margin-top:3px; padding-bottom:3px;  *white-space:nowrap; _margin-left:2px; _margin-right:6px; position:relative;}
.rec_words p span{width:1px; height:21px; overflow:hidden; position:absolute; top:1px;}
.rec_words p span.l{ left:-1px;}
.rec_words p span.r{ right:-1px;}
.rec_words p a{height:23px; padding-left:12px; padding-right:12px; float:left;  line-height:23px; color:#fff; text-decoration:none; }


/********** 我的拒宅兴趣 ************/


/********** message ************/
.message_box{ width:100%; display:block; min-height:200px; _height:200px;}

/********** message title TAB************/
.message_box .title{ width:570px; height:50px; background:url(../images/img_y.png) repeat-x left bottom; _background:url(../images/img_y_ie6.png) repeat-x left bottom; margin:0 auto; padding:0 15px;}
.message_box .title .tab{ float:left;}
.message_box .tab a{ float:left; margin-right:10px; display:block inline; *cursor:pointer; text-decoration:none; margin-top:10px;}
.message_box .tab p{ width:1px; height:25px; overflow:hidden; float:left; margin-top:1px;}

.message_box .tab em{  width:16px; height:16px; display:block; float:left; margin-top:5px;}
.message_box .tab em.mail{ background:url(../images/full_image1.png) no-repeat -5px -90px;  _background:url(../images/image_ie6_gif.gif) no-repeat -5px -90px;}
.message_box .tab em.mail_open{ background:url(../images/full_image1.png) no-repeat -5px -115px; _background:url(../images/image_ie6_gif.gif) no-repeat -5px -115px;}
.message_box .tab strong{ float:left; margin-left:3px; display:inline; font-size:14px; font-weight:bold;}

.message_box .title .fh{ float:right; margin-top:15px; margin-right:10px; display:inline;}
.message_box .title .fh a{color:#4E90DB;  text-decoration:none; display:block; }
.message_box .title .fh a:hover{ text-decoration:underline; color:#4E90DB;}



.message_box .tab .link span{  float:left; line-height:27px; line-height:29px\9;  padding-left:10px; padding-right:10px; color:#666; height:27px; overflow:hidden; }
.message_box .tab .new{ color:#4E90DB;}

.message_box .tab .active p.l{ background:#4E90DB;}
.message_box .tab .active p.r{ background:#4E90DB;}
.message_box .tab .active span{ background:#4E90DB; float:left; line-height:27px; line-height:29px\9; *line-height:27px; _line-height:29px; padding-left:10px; padding-right:10px; color:#fff; height:27px; overflow:hidden;}

/********** ˹?ť************/
.message_box .title .pbr{ float:right; margin-top:15px; width:100px;}
.message_box .title .pbr a{background:url(../images/full_image1.png) no-repeat -5px -140px; _background:url(../images/image_ie6_1.png) no-repeat -5px -140px;  padding-left:20px; color:#999;  text-decoration:none; display:block; height:18px; overflow:hidden;}
.message_box .title .pbr a:hover{ text-decoration:underline;}

/********** message itemͨʽ************/


.message_box .box_body{ width:570px; height:auto; display:block; margin:15px auto; margin-top:14px; *margin-top:8px;}

.message_box .box_body .other_message{ width:100%; margin-top:60px;}
.message_box .box_body .other_message p{ text-align:center; color:#666;}

.box_body .item{ width:100%; height:110px; position:relative; margin-top:8px; background:#006699}
.box_body .item .l{ position:absolute; width:1px; height:108px; left:-1px; top:1px; overflow:hidden;}
.box_body .item .r{ position:absolute; width:1px; height:108px; right:-1px; top:1px; overflow:hidden; }
.box_body .item .close{ position:absolute; width:19px; height:19px; overflow:hidden; top:6px; right:5px;}





.box_body .link{ background:#FAFAFA; }
.box_body .hover{ background:#FDF4D2; }

.box_body .link .close a{ display:none;}
.box_body .hover .close a{ width:19px; height:19px; overflow:hidden; background:url(../images/full_image1.png) no-repeat -560px -20px; _background:url(../images/image_ie6_1.png) no-repeat -560px -20px; display:block;}

.box_body .link span{ background:#FAFAFA; }
.box_body .hover span{ background:#FDF4D2;}

.box_body .hover .item_style2 strong{ display:block;}

.box_body .item .item_style1{ padding:15px; }
.item .item_style1 .photo{  width:80px; height:80px; overflow:hidden;}

.box_body .item .item_style2{ padding:15px; float:left; width:540px;}
.item .item_style2 .photo{  width:80px; height:80px; overflow:hidden; background:url(../images/full_image1.png) no-repeat -500px -330px; }

.box_body .item .item_style3{ padding:15px;}
.item .item_style3 .photo{  width:80px; height:80px; overflow:hidden;}







/********** message 已读************/

.item .item_style1 .infor{ margin-left:20px; width:340px; }
.item .item_style1 .infor span{ font-size:14px; font-family:"微软雅黑", "宋体"; line-height:200%; word-break:keep-all; white-space:normal;}
.item .item_style1 .infor span.u{ color:#336AAE;float:left;}
.item .item_style1 .infor span.w{ color:#666; margin:0 8px;float:left; }
.item .item_style1 .infor span.v{ color:#FF6600; font-weight:bold; float:left; margin-right:8px; }
.item .item_style1 .infor a{font-size:14px; font-family:"微软雅黑", "宋体"; line-height:200%;  display:block-inline; float:left; text-decoration:underline; color:#336AAE; width:80px;}

.item .item_style1 .infor p{ color:#999; float:left; margin-top:5px;}
.item .item_style1 .infor strong{ color:#bbb; float:left; margin-top:20px; margin-left:20px; display:inline; font-family:Tahoma; font-size:10px; font-weight:bold;}



.item_style1 .btn{ float:right; margin-top:18px; margin-right:2px;}
.item_style1 .btn a{ background:url(../images/full_image1.png) no-repeat -325px -10px;  width:94px; height:44px; text-align:center; line-height:45px; color:#666; display:block; text-decoration:none;} 
.item_style1 .btn a:hover{ background:url(../images/full_image1.png) no-repeat -425px -10px; _background:url(../images/full_image1.png) no-repeat -425px -10px; color:#fff;}

*html .item_style1 .btn a{ background:url(../images/image_ie6_gif.gif) no-repeat;  width:90px; height:40px; text-align:center; line-height:45px; color:#666; display:block; text-decoration:none;} 
*html .item_style1 .btn a:hover{ background:url(../images/image_ie6_gif.gif) no-repeat -100px 0; color:#fff;}

.item_style1 .btn a.unhover{ color:#CCC;}
.item_style1 .btn a.unhover:hover{ color:#ccc; background:url(../images/full_image1.png) no-repeat -325px -10px; _background:url(../images/image_ie6_gif.gif) no-repeat;}


/********** message 已读************/

/********** message 未读************/
.item .item_style2 .infor{ margin-left:20px; margin-top:12px;}
.item .item_style2 .infor h2{ font-size:14px; font-family:"微软雅黑", "宋体"; color:#666; float:left; font-weight:bold; padding-bottom:20px;}
.item .item_style2 p{ float:left; color:#999;}
.item .item_style2 a.view{ float:left; color:#4E90DB; text-decoration:underline; margin-left:8px; margin-right:8px; display:inline;}
.item .item_style2 strong{ color:#ccc; float:left; display:none;}



.item .item_style2 em{ position:absolute; bottom:7px; right:10px; color:#ccc; font-size:10px; font-family:Tahoma; font-weight:bold;}
/********** message 未读************/

/********** message pbr************/
.tab_pbr { float:left; width:550px;}
.tab_pbr p{ color:#666; font-size:14px; font-weight:bold; float:left; margin-top:18px;}
.tab_pbr a{ float:right; margin-left:20px; margin-top:15px; text-decoration:none; color:#999; padding-left:20px; height:17px; overflow:hidden;}
.tab_pbr a:hover{ color:#4E90DB;}
.tab_pbr a.mail{ background:url(../images/full_image1.png) no-repeat -5px -90px; _background:url(../images/image_ie6_1.png) no-repeat -5px -90px;}
.tab_pbr a.mail_open{ background:url(../images/full_image1.png) no-repeat -5px -115px; _background:url(../images/image_ie6_1.png) no-repeat -5px -115px;}

.item .item_style3 .infor{ margin-left:20px; margin-top:12px;}
.item .item_style3 .infor span{ font-size:14px; font-family:"微软雅黑", "宋体" }
.item .item_style3 .infor span.u{ color:#336AAE;}
.item .item_style3 .infor span.w{ color:#666; margin:0 8px;}
.item .item_style3 .infor span.v{ color:#666; font-weight:bold}
.item .item_style3 .infor p{ color:#999; margin-top:20px;}

.item_style3 .btn{ float:right; margin-top:18px; margin-right:2px;}
.item_style3 .btn a{background:url(../images/full_image1.png) no-repeat -325px -10px; _background:url(../images/image_ie6_gif.gif) no-repeat; width:94px; height:44px; text-align:center; line-height:45px; color:#666; display:block; text-decoration:none;} 
.item_style3 .btn a:hover{ background:url(../images/full_image1.png) no-repeat -425px -10px; _background:url(../images/image_ie6_gif.gif) no-repeat -100px 0; color:#fff;}




/********** message pbr************/




/********** 新手引导 ************/

.begin_jz{ width:136px; height:35px; float:left; margin-left:103px; display:inline; margin-top:30px;}

.pro_box_right{ width:304px; height:39px; background:url(../images/full_image1.png) no-repeat -300px -495px;  _background:url(../images/image_ie6_1.png) no-repeat -300px -495px; float:left; margin-left:98px; _margin-left:96px; display:inline; margin-top:40px; text-align:center;}
.pro_box_right p{ color:#fff; line-height:39px;}


.iwantgo{position:absolute; top:50px; right:105px;}
.iwantgo a{ color:#fff; text-decoration:none;}
.iwantgo a:hover{ text-decoration:underline;}


.basic_yd{padding:25px 30px 30px 30px; float:left; width:544px; height:auto; overflow:hidden;}
.mt50{ margin-top:88px; *margin-top:0px; *padding-top:8px;}
.basic_yd h3{ width:80px; height:80px; display:block; overflow:hidden;}



.sec_joy h3{ background:url(../images/full_image1.png) no-repeat -10px -670px; _background:url(../images/image_ie6_1.png) no-repeat -10px -670px;}
.sec_joy h2{ color:#9763CB;}
.sec_joy .sec .selected span{ background:#9763CB;}
.sec_joy .sec .selected a.key_words{ background:#9763CB; color:#fff;}
.sec_joy .sec .hover span{ background:#9763CB;}
.sec_joy .sec .hover a.key_words{ background:#9763CB; color:#fff;}

.sec_sport h2{ color:#FE9827;}
.sec_sport .sec .selected span{ background:#FE9827;}
.sec_sport .sec .selected a.key_words{ background:#FE9827; color:#fff;}
.sec_sport .sec .hover span{ background:#FE9827;}
.sec_sport .sec .hover a.key_words{ background:#FE9827; color:#fff;}

.sec_travel h3{  background:url(../images/full_image1.png) no-repeat -150px -670px; _background:url(../images/image_ie6_1.png) no-repeat -150px -670px;}
.sec_travel h2{ color:#3E8BFF;}
.sec_travel .sec .selected span{ background:#3E8BFF;}
.sec_travel .sec .selected a.key_words{ background:#3E8BFF; color:#fff;}
.sec_travel .sec .hover span{ background:#3E8BFF;}
.sec_travel .sec .hover a.key_words{ background:#3E8BFF; color:#fff;}


.sec_leisure h3{ background:url(../images/full_image1.png) no-repeat -220px -670px; _background:url(../images/image_ie6_1.png) no-repeat -220px -670px;}
.sec_leisure h2{ color:#7AADE4;}
.sec_leisure .sec .selected span{ background:#7AADE4;}
.sec_leisure .sec .selected a.key_words{ background:#7AADE4; color:#fff;}
.sec_leisure .sec .hover span{ background:#7AADE4;}
.sec_leisure .sec .hover a.key_words{ background:#7AADE4; color:#fff;}


.sec_food h3{  background:url(../images/full_image1.png) no-repeat -290px -670px; _background:url(../images/image_ie6_1.png) no-repeat -290px -670px;}
.sec_food h2{ color:#FF7A59;}
.sec_food .sec .selected span{ background:#FF7A59;}
.sec_food .sec .selected a.key_words{ background:#FF7A59; color:#fff;}
.sec_food .sec .hover span{ background:#FF7A59;}
.sec_food .sec .hover a.key_words{ background:#FF7A59; color:#fff;}


.sec_rss h3{  background:url(../images/full_image1.png) no-repeat -360px -670px; _background:url(../images/image_ie6_1.png) no-repeat -360px -670px;}
.sec_rss h2{ color:#666;}
.sec_rss h4{ float:left; color:#999; margin-left:8px; display:inline; margin-top:10px; padding-bottom:10px;}




.basic_yd .sec{ width:445px;}
.basic_yd .sec h2{font-size:17px; font-family:"微软雅黑", "宋体";  margin-left:5px; padding-bottom:8px;}
.basic_yd .sec p{ float:left; position:relative; margin-left:5px; margin-right:5px; display:inline; margin-top:5px; padding-bottom:5px; *white-space:nowrap;}
.basic_yd .sec p span{ width:1px; height:25px; float:left; margin-top:1px; overflow:hidden; background:#F5F5F5;}
.basic_yd .sec p a.key_words{ height:27px; padding-left:12px; padding-right:12px; float: left;  line-height:27px; color:#999; text-decoration:none; background:#F5F5F5;}
.basic_yd .sec p em{ position:absolute; bottom:6px;  left:2px; display:none; background:url(../images/full_image1.png) no-repeat -750px -20px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/selected_icon.png'); /* IE6 */
_background-image:none; width:7px; height:8px;}



.basic_yd .sec .selected em{ display:block;}

.basic_yd .add_insterest,.add_dy,.dy_ok{ float:left; margin-top:5px; margin-left:5px; display:inline; width:100%;}

.basic_yd .add_insterest strong{background:url(../images/full_image1.png) no-repeat -445px -85px; _background:url(../images/image_ie6_1.png) no-repeat -445px -85px; height:30px; float:left; margin-top:2px; margin-right:5px; display:inline; width:120px;}
.basic_yd .add_dy strong{ background:url(../images/full_image1.png) no-repeat -570px -85px; _background:url(../images/image_ie6_1.png) no-repeat -570px -85px; width:180px; height:30px; float:left; margin-top:2px; margin-right:5px; display:inline;}

.basic_yd .add_insterest strong input{ width:110px; float:left; margin-left:5px; display:inline; border:0; color:#666; height:30px; background:none; line-height:30px;}
.basic_yd .add_dy strong input{ width:170px; float:left; margin-left:5px; display:inline; border:0; color:#666; height:30px; background:none; line-height:30px;}

.basic_yd .add_insterest a.add{ width:74px; height:34px; background:url(../images/full_image1.png) no-repeat -275px -85px; _background:url(../images/image_ie6_1.png) no-repeat -275px -85px; text-align:center; line-height:34px; color:#666; display:block; float:left; text-decoration:none;}

.basic_yd .add_insterest a.add:hover{ background:url(../images/full_image1.png) no-repeat -355px -85px; _background:url(../images/image_ie6_1.png) no-repeat -355px -85px; color:#fff;}


.basic_yd .add_dy a.add{ width:74px; height:34px; background:url(../images/full_image1.png) no-repeat -275px -85px; background:url(../images/image_ie6_1.png) no-repeat -275px -85px;  text-align:center; line-height:34px; color:#666; display:block; float:left; text-decoration:none;}

.basic_yd .add_dy a.add:hover{ background:url(../images/full_image1.png) no-repeat -355px -85px; _background:url(../images/image_ie6_1.png) no-repeat -355px -85px; color:#fff; color:#fff;}


.basic_yd .add_insterest .goon_add{ color:#999; float:left; margin-left:10px; display:inline; margin-top:8px;}



.dy_ok span{ color:#666;}
.dy_ok a.edit{ color:#0066CC; text-decoration:none; margin-left:10px;} 
.dy_ok a.edit:hover{ text-decoration:underline;}

.dy_ok a.delete{ color:#0066CC; text-decoration:none; margin-left:10px;} 
.dy_ok a.delete:hover{ text-decoration:underline;}

/********** 新手引导 ************/


/********** loading ************/
.loading{ background:url(../images/full_image1.png) no-repeat -160px -130px;  _background:url(../images/image_ie6_1.png) no-repeat -160px -130px; color:#fff; width:354px; height:84px; margin-left:220px; display:inline; margin-top:150px; float:left;}
.loading span{ float:left; margin-left:30px; display:inline; margin-top:25px;}
.loading p{ float:left; margin-left:20px; display:inline; margin-top:32px; font-family:"微软雅黑", "宋体"; font-size:20px; color:#888;}
.loading_home{width:604px; height:auto; margin:0 auto;}
.loading_home{ width:604px; height:auto; display:block; margin:0 auto; margin-top:78px; position:relative; *padding-top:78px;}


.loading_home .top{ width:602px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}
.loading_home .mid{ width:604px; height:194px; overflow:hidden; background:#FFF; position:relative; z-index:998;}
.loading_home .bot{ width:602px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}


.loading_home span{ float:left; margin-left:150px; display:inline; margin-top:75px;}
.loading_home p{ float:left; margin-left:15px; display:inline; margin-top:80px; width:230px; height:25px; background:url(../images/full_image1.png) no-repeat 0 -360px; _background:url(../images/image_ie6_1.png) no-repeat 0 -360px;}

/********** loading ************/
/********** 404 ************/
.error_404{ float:left; padding:45px;}
.error_404 h2{ background:url(../images/full_image1.png) no-repeat -535px -120px; _background:url(../images/image_ie6_1.png) no-repeat -535px -120px; color:#fff; width:84px; height:95px; float:left; margin-right:30px; display:inline;}
.error_404 p{ background:url(../images/full_image1.png) no-repeat 0 -310px;  _background:url(../images/image_ie6_1.png) no-repeat 0 -310px; width:336px; height:26px; float:left;  margin-top:8px;}
.error_404 a{ background:url(../images/full_image1.png) no-repeat -630px -130px; _background:url(../images/image_ie6_1.png) no-repeat -630px -130px;  width:114px; height:44px; display:block; float:left; text-align:center; line-height:44px; text-decoration:none; color:#666; font-size:14px; font-weight:bold; margin-top:10px;}
/********** 404 ************/


/********** 505 ************/
.error_505{ float:left; padding:45px;}
.error_505 h2{ background:url(../images/full_image1.png) no-repeat -535px -120px; _background:url(../images/image_ie6_1.png) no-repeat -535px -120px; width:84px; height:95px; float:left; margin-right:30px; display:inline;}
.error_505 p{background:url(../images/full_image1.png) no-repeat 0 -230px; _background:url(../images/image_ie6_1.png) no-repeat 0 -230px; width:385px; height:58px; float:left;  margin-top:15px;}

/********** 505 ************/


/********** none meaasge ************/
.none_message{ float:left; padding:45px;}
.none_message h2{ background:url(../images/full_image1.png) no-repeat -685px -540px; _background:url(../images/image_ie6_1.png) no-repeat -685px -540px; color:#fff; width:93px; height:98px; float:left; margin-right:30px; display:inline;}
.none_message p{ background:url(../images/full_image1.png) no-repeat 0 -400px; _background:url(../images/image_ie6_1.png) no-repeat 0 -400px; width:336px; height:26px; float:left;  margin-top:10px;}
.none_message span{ width:60%; float:left; color:#666; margin-top:20px;}
.none_message a{ text-decoration:none; margin-left:10px; color:#488AD8;}
.none_message a:hover{ text-decoration:underline;}




/************* 已读消息弹出层**************/
.show_pro{ float:left;display:inline; width:370px;  word-break:keep-all; white-space:normal;}

.show_pro .btn{ float:right; margin-top:15px;}
.show_pro .btn a{width:74px; height:34px; background:url(../images/full_image1.png) no-repeat -275px -85px; _background:url(../images/image_ie6_1.png) no-repeat -275px -85px; text-align:center; line-height:34px; color:#666; display:block; float:left; text-decoration:none;}
.show_pro .btn a:hover{background:url(../images/full_image1.png) no-repeat -355px -85px; _background:url(../images/image_ie6_1.png) no-repeat -355px -85px; color:#fff;}

.show_pro p{ float:left; position:relative; margin-left:5px; margin-right:5px; display:inline; margin-top:5px;  *white-space:nowrap;  font-size:14px; font-family:"微软雅黑", "宋体"; color:#666; font-weight:bold;}
.show_pro p span{ width:1px; height:25px; float:left;  overflow:hidden; background:#F5F5F5; position:absolute;}
.show_pro p span.l{ left:-1px; top:1px;}
.show_pro p span.r{ right:-1px; top:1px;}
.show_pro p a.key_words{ height:27px; padding-left:12px; padding-right:12px; float:left; display:block; line-height:27px; color:#666; text-decoration:none; background:#F5F5F5;font-family:"宋体"; font-size:12px; font-weight:normal;}
.show_pro p em{ position:absolute; bottom:10px;  left:2px; display:none; background:url(../images/full_image1.png) no-repeat -750px -20px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/selected_icon.png'); /* IE6 */
_background-image:none; width:7px; height:8px;}

.show_pro p.selected em{ display:block;}
.show_pro p.selected span{ background:#4E90DB;}
.show_pro p.selected a.key_words{ background:#4E90DB; color:#fff;}
.show_pro p.hover span{ background:#4E90DB;}
.show_pro p.hover a.key_words{ background:#4E90DB; color:#fff;}



.tz1{ width:auto; float:left; cursor:pointer; margin-left:100px; margin-top:10px; display:inline; }
.tz1 p{ width:13px; height:13px; overflow:hidden; float:left; margin-top:2px;}
.tz1 span{ float:left; margin-left:5px; color:#A4C8ED;}



.tz{ width:auto; float:left; cursor:pointer; margin-left:100px; margin-top:10px; display:inline;  *margin-top:-40px;}
.tz p{ width:13px; height:13px; overflow:hidden; float:left; margin-top:2px;}
.tz span{ float:left; margin-left:5px; color:#A4C8ED;}
.tz_link p{ background:url(../images/check_box__img.jpg) no-repeat;}
.tz_secleted p{ background:url(../images/check_box__img.jpg) no-repeat 0 -13px;}



.fav_with{ width:368px; }
.fav_with h2{font-size:17px; font-family:"微软雅黑", "宋体";  margin-left:5px; padding-bottom:8px; color:#666;}
.fav_with h2 a{ margin-left:10px; margin-right:10px; text-decoration:none;  font-size:17px; font-family:"微软雅黑", "宋体"; color:#4E90DB;}
.fav_with p{ float:left; position:relative; margin-left:5px; margin-right:5px; display:inline; margin-top:5px; padding-bottom:5px; *white-space:nowrap;}
.fav_with p span{ width:1px; height:25px; float:left; margin-top:1px; overflow:hidden; background:#F5F5F5;}
.fav_with p a.key_words{ height:27px; padding-left:12px; padding-right:12px; float: left;  line-height:27px; color:#4E90DB; text-decoration:none; background:#F5F5F5;}
.fav_with p em{ position:absolute; bottom:6px;  left:2px; display:none; background:url(../images/full_image1.png) no-repeat -750px -20px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/selected_icon.png'); /* IE6 */
_background-image:none; width:7px; height:8px;}

.fav_with .selected em{ display:block;}
.fav_with .selected span{ background:#4E90DB;}
.fav_with .selected a.key_words{ background:#4E90DB; color:#fff;}
.fav_with .hover span{ background:#4E90DB;}
.fav_with .hover a.key_words{ background:#4E90DB; color:#fff;}

.fav_with .add_insterest_fav{ float:left; margin-top:5px; margin-left:5px; display:inline; width:100%;}
.fav_with .add_insterest_fav strong{background:url(../images/full_image1.png) no-repeat -445px -85px; _background:url(../images/image_ie6_1.png) no-repeat -445px -85px; height:30px; float:left; margin-top:2px; margin-right:5px; display:inline; width:120px;}
.fav_with .add_insterest_fav strong input{ width:110px; float:left; margin-left:5px; display:inline; border:0; color:#666; height:30px; background:none; line-height:30px;}
.fav_with .add_insterest_fav a.add{ width:74px; height:34px; background:url(../images/full_image1.png) no-repeat -275px -85px; _background:url(../images/image_ie6_1.png) no-repeat -275px -85px; text-align:center; line-height:34px; color:#666; display:block; float:left; text-decoration:none;}
.fav_with .add_insterest_fav a.add:hover{ background:url(../images/full_image1.png) no-repeat -355px -85px; _background:url(../images/image_ie6_1.png) no-repeat -355px -85px; color:#fff;}
.fav_with .add_insterest_fav .goon_add{ color:#999; float:left; margin-left:10px; display:inline; margin-top:8px;}
.add_insterest_fav .error{bottom:0px; *bottom:0px; _bottom:-1px; left:205px; _left:205px;}




.cantact_user{ width:250px; height:auto; overflow:hidden; }
.cantact_user .text_area{ float:left;}
.cantact_user .text_area textarea{ background:#fafafa; border:1px solid #ccc; width:239px; height:72px; overflow:hidden; color:#666; padding:5px;} 
.cantact_user .bt{ float:right; margin-left:20px; display:inline; margin-top:5px;}
.cantact_user .ck{float:right; margin-top:12px; color:#666;}
.cantact_user .ck input{ float:left;  margin-top:3px;  *margin-top:0px;}
.cantact_user .bt a{ width:74px; height:34px; background:url(../images/full_image1.png) no-repeat -355px -85px; _background:url(../images/image_ie6_1.png) no-repeat -355px -85px;  text-align:center; line-height:34px; color:#fff; display:block; float:left; text-decoration:none; font-weight:blod;}


/***** project_sub ****/
.content .mid .back_to_home{ position:absolute; right:20px; top:20px;}
.content .mid .back_to_home a{ color:#5A9ADC; text-decoration:none;}
.content .mid .back_to_home a:hover{ text-decoration:underline;}
.content .mid .project_sub{ padding-top:30px;  }


.mid .project_sub .photo{ background:url(../images/full_image1.png) no-repeat -590px -330px; _background:url(../images/image_ie6_1.png) no-repeat -590px -330px;  width:120px; height:120px; padding:7px; margin-right:32px; margin-left:35px; display:inline;}

.mid .project_sub .infor{ *width:360px;}
.mid .project_sub .infor h2{ margin-top:8px; font-size:16px; font-family:"微软雅黑", "宋体"; color:#333; font-weight:bold;}
.mid .project_sub .infor h5{ color:#999; margin-top:8px; width:360px; line-height:180%;}

.mid .project_sub .infor .ytj{ float:left; margin-right:10px; height:40px; margin-top:10px;}
.ytj p{ background:#FDF4D2; width:1px; height:38px; margin-top:1px; display:block; float:left;}

.ytj span{ padding-left:10px; padding-right:10px; height:40px; line-height:40px; color:#999; font-size:14px; font-weight:bold; background:#FDF4D2; display:block; float:left;}
.ytj span em{ font-weight:bold; float:left;}
.ytj span strong{ font-size:12px; float:left; margin-left:4px; margin-right:6px;}
.ytj span a{ font-size:12px; color:#5A9ADC; text-decoration:none; font-weight:normal;}
.ytj span a:hover{ text-decoration:underline;}


.mid .project_sub .infor h5 a{ color:#4E90DB; text-decoration:underline;}
.mid .project_sub .infor a.btn{ width:104px; height:44px; display:block inline; line-height:44px; text-decoration:none; font-weight:bold; float:left; margin-right:10px; margin-top:8px; text-align:center; font-size:12px; font-weight:bold;}
.mid .project_sub .infor a.want{  background:url(../images/project_sub.png) no-repeat 0 0; color:#CC6600;}
.mid .project_sub .infor a.want:hover{ background:url(../images/project_sub.png) no-repeat 0 -50px;}
.mid .project_sub .infor a.zjl{ background:url(../images/project_sub.png) no-repeat 0 -100px; color:#666;}
.mid .project_sub .infor a.zjl:hover{ background:url(../images/project_sub.png) no-repeat 0 -150px; }
.mid .project_sub .infor a.yqhy{ background:url(../images/project_sub.png) no-repeat 0 -100px; color:#666;}
.mid .project_sub .infor a.yqhy:hover{ background:url(../images/project_sub.png) no-repeat 0 -150px; }


.project_sub .wantgolist { width:604px; height:auto; overflow:hidden; padding-top:30px;}
.project_sub .wantgolist .title{ width:604px; height:50px; background:url(../images/img_y.png) repeat-x left bottom; _background:url(../images/img_y_ie6.png) repeat-x left bottom; margin:0 auto; padding:0 15px;}
.wantgolist .title h3{ float:left; font-size:14px; color:#666; line-height:50px; font-weight:bold; margin-left:15px; margin-right:15px; display:inline;}
.wantgolist .title em{ width:2px; height:50px; float:left; background:url(../images/project_sub.png) no-repeat -120px 0;} 


.wantgolist .title a{ float:left; margin-left:15px; display:block inline; *cursor:pointer; text-decoration:none; margin-top:10px;}
.wantgolist .title p{ width:1px; height:25px; overflow:hidden; float:left; margin-top:1px;}
.wantgolist .title strong{ float:left; margin-left:3px; display:inline; font-size:12px; font-weight:bold;}

.wantgolist .title .link span{  float:left; line-height:27px; line-height:29px\9;  padding-left:10px; padding-right:10px; color:#666; height:27px; overflow:hidden; }
.wantgolist .title .new{ color:#4E90DB;}

.wantgolist .title .active p.l{ background:#4E90DB;}
.wantgolist .title .active p.r{ background:#4E90DB;}
.wantgolist .title .active span{ background:#4E90DB; float:left; line-height:27px; line-height:29px\9; *line-height:27px; _line-height:29px; padding-left:10px; padding-right:10px; color:#fff; height:27px; overflow:hidden; font-weight:bold;}


.item_list{ width:600px; height:auto; margin:0 auto; overflow:hidden; }
.item_list .item_w{ width:270px; height:70px; float:left; margin-left:20px; display:inline; margin-top:15px; position:relative; background:#fafafa}
.item_list .item_w p{ width:50px; height:50px; overflow:hidden; margin-left:10px; margin-top:10px; margin-right:10px; display:inline; float:left;}
.item_list .item_w h3{  float:left; margin-top:12px; width:150px; padding-bottom:8px;}
.item_list .item_w h3 a.user{ font-size:14px; color:#666; font-weight:bold; text-decoration:none; color:#666;}
.item_list .item_w h3 a.user:hover{ text-decoration:underline; color:#5A9ADC;}

.item_list .item_w span{ float:left; color:#999; font-family:Tahoma;}
.item_list .item_w span font{ font-size:10px; margin-left:5px;}

.item_list .item_w a.btn{ width:54px; height:24px; line-height:24px; _width:50px; _height:20px; _line-height:22px; text-align:center; color:#666; text-decoration:none;  background:url(../images/yueta_btn.png) no-repeat; _background:url(../images/yueta_btn.gif) no-repeat; display:block inline; position:absolute; top:12px; right:10px; color:#999;} 
.item_list .item_w a.btn:hover{ color:#fff; background:url(../images/yueta_btn.png) no-repeat 0 -30px; _background:url(../images/yueta_btn.gif) no-repeat 0 -25px;}

.item_list .item_w .l{position:absolute; width:1px; height:68px; left:-1px; top:1px; overflow:hidden;}
.item_list .item_w .r{ position:absolute; width:1px; height:68px; right:-1px; top:1px; overflow:hidden;}

.item_list .item_w a.unclick{  background:url(../images/yueta_btn.png) no-repeat; _background:url(../images/yueta_btn.gif) no-repeat; color:#CCC;}
.item_list .item_w a.unclick:hover{background:url(../images/yueta_btn.png) no-repeat; _background:url(../images/yueta_btn.gif) no-repeat; color:#CCC;}

.item_list .link em{ background:#fafafa;}
.item_list .link{ background:#fafafa;}

.item_list .hover em{ background:#FDF4D2;}
.item_list .hover{ background:#FDF4D2;}

.page_dw{ float:right; margin-right:20px; display:inline; *padding-bottom:18px;}

.item_loading{ width:600px; height:auto; margin:0 auto; overflow:hidden; text-align:center; margin-top:100px; padding-bottom:100px;}
.item_none{width:600px; height:auto; margin:0 auto; overflow:hidden; text-align:center; margin-top:100px; padding-bottom:100px; color:#999;}











