/* reset */
body{ font-family:"宋体"; font-size:12px; line-height:150%; padding: 0; margin: 0; background:#fff; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,blockquote,th,td {   
    padding: 0;   
    margin: 0;   
}   
table {   
    border-collapse: collapse;   
    border-spacing: 0;   
}   
fieldset,img {   
    border: 0; 
}   
address,caption,cite,code,dfn,em,strong,th,var {   
    font-weight: normal;   
    font-style: normal;   
}   
ol,ul {   
    list-style: none;   
}   
caption,th {   
    text-align: left;   
}   
h1,h2,h3,h4,h5,h6 {   
    font-weight: normal;   
    font-size: 100%;   
}   
q:before,q:after {    
    content:'';   
}   
abbr,acronym { border: 0;   
} 
.clear{ clear:both;}
.fl{ float:left; _display:inline;}
.fr{ float:right; _display:inline;}
.mr15{ margin-right:15px; *margin-right:5px;}


/**********
.page{ margin-top:20px;  float:right; width:660px; margin-right:18px; *margin-right:0px;}
.page a{ font-weight:bold; color:#666; margin-left:3px; margin-right:3px;  text-decoration:none; *cursor:pointer; float:left; display:block inline;}
.page a:hover{ color:#4E90DB;}
.page p{ width:3px; height:27px; overflow:hidden; float:left;}
.page strong{ float:left; height:27px; padding-left:7px; padding-right:7px; line-height:27px; line-height:28px\9; overflow:hidden;}
**********/

.page{ margin-top:18px;  *padding-bottom:3px; float:right; display:inline;  margin-right:18px;}
.page a{ font-weight:bold; color:#666; margin-left:3px; margin-right:3px;  text-decoration:none; *cursor:pointer; float:left; display:block inline;}
.page a:hover{ color:#4E90DB;}
.page p{ width:3px; height:27px; overflow:hidden; float:left;}
.page strong{ float:left; height:27px; padding-left:7px; padding-right:7px; line-height:27px; line-height:28px\9; overflow:hidden;}



.page .link .l{background:url(../images/full_image1.png) -545px -15px; _background:url(../images/image_ie6_1.png) -545px -15px;}
.page .link .r{ background:url(../images/full_image1.png) -548px -15px; _background:url(../images/image_ie6_1.png) -548px -15px; }
.page .link .m{ background:url(../images/img_y_ie6.png) repeat-x 0 0; _background:url(../images/img_y_ie6.png) repeat-x 0 0;}

.page .active .l{ background:url(../images/full_image1.png) -530px -15px; _background:url(../images/image_ie6_1.png) -530px -15px;}
.page .active .r{ background:url(../images/full_image1.png) -533px -15px; _background:url(../images/image_ie6_1.png) -533px -15px;}
.page .active .m{ background:url(../images/img_y.png) repeat-x 0 -28px; _background:url(../images/img_y_ie6.png) repeat-x 0 -28px; color:#fff;}


.mr30{ margin-right:30px;}









.top_logo{ width:760px; height:auto; overflow:hidden; margin:0 auto; padding-bottom:15px; margin-top:15px;}
.top_logo h1{ width:97px; height:30px; float:left; background:url(../images/2qi/wb_logo.jpg) no-repeat; margin-left:3px; display:inline;}
.top_logo p{ color:#666; float:left; margin-left:12px; margin-top:8px; display:inline;}
.top_logo span{ float:right; margin-right:5px; display:inline; margin-top:8px;}
.top_logo span a{background:url(../images/2qi/rr_yqhy.jpg) no-repeat; height:16px; padding-left:20px; font-size:14px; color:#417EC5; text-decoration:underline;}





/********************/
.main{ width:760px; min-height:550px; _height:550px; display:block; margin:0 auto; background:url(../images/weibo_bg.jpg) left bottom repeat-x; }
.skin_top_new{ width:100%; height:10px; background:url(../images/2qi/wb_760_r1_c1.png) no-repeat; overflow:hidden;}

.skin_top{ width:100%; height:65px; }
.skin_top .top_left{ width:5px; height:65px; overflow:hidden; background:url(../images/full_image1.png) 0px -10px;  float:left;}
.skin_top .top_right{ width:5px; height:65px; overflow:hidden; background:url(../images/full_image1.png) -5px -10px; float:right;}
.skin_top .top_mid{ width:750px; height:65px; background:url(../images/img_y.png) repeat-x 0 -135px;  position:relative; float:left;  *z-index:1;}
.top_mid .top_high_line{ background:url(../images/full_image1.png) -325px -80px; width:460px; height:2px; overflow:hidden; position:absolute; top:0; left:10px;}


.top_mid .menu{ float:left; margin-left:15px; display:inline;}
.top_mid .menu span{ float:left; position:relative; margin-top:11px;}
.top_mid .menu span p{ position:absolute;  width:5px; height:42px;}
.top_mid .menu span p.l{  left:-5px;}
.top_mid .menu span p.r{ right:-5px;}
.top_mid .menu span a{ height:42px; display:block; float:left; padding-left:15px; padding-right:15px; line-height:42px; font-weight:bold; color:#fff;text-decoration:none;}
.top_mid .menu span a:hover{ text-decoration:underline;}
.top_mid .menu em{ width:2px; height:42px; float:left; margin-left:7px; margin-right:6px; margin-top:11px; display:inline; background:url(../images/2qi/menu_r1_c7.jpg) no-repeat;}

.top_mid .menu .hover a{background:url(../images/2qi/menu_r1_c3.jpg) repeat-x; color:#CC6600}
.top_mid .menu .hover .l{ left:-5px; background:url(../images/2qi/menu_r1_c1.jpg) no-repeat; }
.top_mid .menu .hover .r{ right:-5px; background:url(../images/2qi/menu_r1_c5.jpg) no-repeat;}

.dy{ margin-right:10px;  margin-top:18px;  position:relative;}
.dy span{ float:left;}
.dy p{ height:29px; overflow:hidden; float:left;}
.dy p.l{ background:url(../images/full_image1.png) -510px -235px; _background:url(../images/image_ie6_1.png) -510px -235px;   width:6px; *margin-top:1px;}
.dy span input{ background:url(../images/img_y.png) repeat-x 0 -105px; _background:url(../images/img_y_ie6.png) repeat-x 0 -105px; height:29px; width:140px; border:0; line-height:29px; color:#98ACC2; padding-left:4px; }
.dy a{ background:url(../images/full_image1.png) no-repeat -631px -181px; _background:url(../images/image_ie6_1.png) no-repeat -631px -181px; width:58px; _width:57px; height:29px; text-align:center; overflow:hidden; *margin-top:1px; line-height:29px; line-height:30px\0; *line-height:29px; display:block; text-decoration:none; color:#666; font-weight:bold; float:left;}
.dy .ts{position:absolute; line-height:150%; z-index:999; color:#fff; top:29px; *top:30px; left:2px; width:150px;  height:auto; overflow:hidden; *padding-bottom:8px; _padding-bottom:0px;}

.dy .ts em{ background:#000; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7;opacity:0.7; float:left; width:130px; padding:10px; padding-top:8px; padding-right:8px;}


.skin_body{ width:100%; height:auto;  min-height:205px; _height:205px; background:url(../images/2qi/bbg.png) repeat-y; }
.skin_body .skin_top_bg{ background:url(../images/2qi/wb_760_r3_c1.png) no-repeat; width:100%; height:auto; min-height:204px; _height:204px; overflow:hidden; _overflow:none; position:relative; padding-bottom:61px; }




.content{ width:700px; height:auto; display:block; margin:0 auto; margin-top:28px; position:relative; }

.white .top{ width:698px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}
.white .mid{ width:700px; height:auto; overflow:hidden; background:#FFF; position:relative; z-index:998;}
.white .bot{ width:698px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}





.content .mid .jz_box{ padding:30px; float:left;}


/********** search ************/


.search{ float:left; width:620px; position:relative; height:138px;}
.search em{ position:absolute; top:-15px; right:-18px;}
.search em a{ color:#5EAFE5; text-decoration:none;}
.search em a:hover{ text-decoration:underline;}

.search h2{ font-size:15px; color:#333; float:left; width:100%; font-family:"微软雅黑", "宋体"; margin-top:10px;}
.search h2 span{ font-size:20px;  margin-left:8px; margin-right:8px; color:#F26418;}

.search p{  color:#999; float:left; width:100%; margin-top:25px;}
.search p span{ margin-right:8px; color:#5EAFE5; font-weight:bold;}
.search p a{ margin-left:8px; margin-right:8px; color:#5EAFE5; text-decoration:none;}
.search p a:hover{ text-decoration:underline;}


/********** index ************/
.mid .jz_box .photo{ background:url(../images/full_image1.png) no-repeat -590px -330px; _background:url(../images/image_ie6_1.png) no-repeat -590px -330px;  width:134px; height:134px;margin-right:30px; }
.mid .jz_box .photo a{ overflow:hidden; width:120px; height:120px; float:left; margin-left:7px; margin-top:7px;}
.mid .jz_box .infor{ width:470px;}
.mid .jz_box .infor h2{ margin-top:8px;}
.mid .jz_box .infor h2 span{  font-family:"微软雅黑", "宋体";}
.mid .jz_box .infor h2 .w{ color:#333; font-size:15px;}
.mid .jz_box .infor h2 .v{ color:#F26418; font-size:20px; margin:auto 10px;}
.mid .jz_box .infor h2 .v a{color:#F26418; text-decoration:underline;}
.mid .jz_box .infor h2 .v a:hover { text-decoration:underline;}
.mid .jz_box .infor p{ color:#999; margin-top:10px; padding-bottom:10px; float:left; width:470px;  line-height:180%;}
.mid .jz_box .infor em{ color:#999; position:absolute; left:195px; top:130px;}
.mid .jz_box .infor em a{ font-weight:bold; color:#3D77C0; text-decoration:none; margin-left:5px; margin-right:3px;}
.mid .jz_box .infor em a:hover{ text-decoration:underline;}

/********** index 感兴趣  不感兴趣按钮 ************/
.mid .jz_box .infor a.btn{ width:124px; height:40px; display:block; line-height:40px; text-decoration:none; font-weight:bold; position:absolute; top:120px;}
.mid .jz_box .infor a.want{  background:url(../images/full_image1.png) no-repeat -20px -450px; right:160px; }
.mid .jz_box .infor a.want:hover{ background:url(../images/full_image1.png) no-repeat -20px -500px; }
.mid .jz_box .infor a.dwant{ background:url(../images/full_image1.png) no-repeat -150px -450px; right:30px; }
.mid .jz_box .infor a.dwant:hover{ background:url(../images/full_image1.png) no-repeat -150px -500px; }


/********** 勾选框 ************/
.tz{ width:auto; float:left; cursor:pointer; margin-left:30px; margin-top:10px; display:inline; *width:250px; position:absolute; left:0px; top:230px; }
.tz p{ width:13px; height:13px; overflow:hidden; float:left; margin-top:2px;}
.tz span{ float:left; margin-left:5px; color:#A4C8ED;}
.tz_link p{ background:url(../images/check_box__img.jpg) no-repeat;}
.tz_secleted p{ background:url(../images/check_box__img.jpg) no-repeat 0 -13px;}


/********** 换一换按钮 ************/
.content .next_btn1{ width:94px; height:43px; position:absolute; bottom:-51px; *bottom:-50px; right:-2px;}
/*.content .next_btn1{ float:right; margin-top:8px; width:94px; height:43px;}*/
.content .next_btn1 a{background:url(../images/2qi/hyh_btn.png) no-repeat; display:block; text-align:center; line-height:40px; line-height:45px\9; *line-height:42px; color:#CEDFF5; font-size:14px; font-weight:bold; text-decoration:none; height:43px;}
.content .next_btn1 a:hover{ color:#fff;}



.pub_style{ float:left;}
.pub_style .title{width:685px; height:45px; background:url(../images/img_y.png) repeat-x left bottom; _background:url(../images/img_y_ie6.png) repeat-x left bottom; margin:0 auto; padding-left:15px; padding-right:15px;}
.pub_style .title h2{ font-size:14px; font-weight:bold; line-height:45px; color:#666; float:left;} 
.pub_style .title a.add{float:right; line-height:45px; color:#4790DB; margin-right:20px; display:inline; text-decoration:none; font-weight:bold;}
.pub_style .title a.add:hover{  text-decoration:underline;}



.pub_style .title h2 span{ float:left; margin-right:10px; display:inline; position:relative; margin-top:9px;}
.pub_style .title h2 span p{ width:1px; height:25px; position:absolute; top:1px;}
.pub_style .title h2 span p.l{ left:-1px;}
.pub_style .title h2 span p.r{ right:-1px;}
.pub_style .title h2 span a{ padding-left:8px; padding-right:6px; line-height:27px; height:27px; color:#666; font-size:14px; font-weight:normal; display:block; float:left; text-decoration:none;}

.pub_style .title h2 .hover p{ background:#4790DB;}
.pub_style .title h2 .hover a{ background:#4790DB; color:#fff; font-weight:bold; }

.pub_style .title a.yq{ float:right; line-height:45px; color:#4790DB; margin-right:20px; display:inline; text-decoration:none; font-weight:bold;}
.pub_style .title a.yq:hover{ text-decoration:underline;}

.pub_style .title a.more{ float:right; line-height:45px; color:#4790DB; margin-right:8px; display:inline; text-decoration:none; }
.pub_style .title a.more:hover{ text-decoration:underline;}


.pub_style .title .or{ float:right; margin-right:10px; display:inline; margin-top:7px;  position:relative; z-index:998;}
.pub_style .title .or p{ float:left; margin-right:5px; color:#666; margin-top:7px;}
.pub_style .title .or span{ background:url(../images/2qi/or_r1_c1.jpg) no-repeat; width:109px; height:30px; float:left;}
.pub_style .title .or span input{ width:95px; height:30px; float:left; border:none; color:#999; background:none; padding-left:7px; padding-right:7px; line-height:30px;} 
.pub_style .title .or a{ background:url(../images/2qi/or_r1_c2.jpg) no-repeat; width:58px; height:30px; float:left; display:block; color:#666; font-weight:bold; text-decoration:none; text-align:center; line-height:30px;}

.pub_style .title .or .ts{ position:absolute; line-height:150%; z-index:999; color:#fff; top:30px; left:33px; width:150px;  height:auto; overflow:hidden; *padding-bottom:8px; _padding-bottom:0px;}
.pub_style .title .or .ts em{ background:#000; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7;opacity:0.7; float:left; width:130px; padding:10px; padding-top:8px; padding-right:8px;}

.pub_style .title .or .ts ul{ float:left; width:150px;}
.pub_style .title .or .ts ul li{ width:130px; padding:4px 10px; height:21px; color:#fff; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7;opacity:0.7; float:left;  line-height:25px; background:#000; margin-top:0px;}


.pub_style .box{ float:left; padding:20px; *padding-bottom:0xp;} 
.pub_style .box .ca{ float:left; margin-bottom:15px; *margin-bottom:0px;}
.pub_style .box .ca em{ float:left; color:#999;}




/********** 分类************/
.pub_style .box .ca span{ float:left; position:relative; margin-left:10px; display:inline;}
.pub_style .box .ca p{ position:absolute;  width:1px; height:17px; top:1px;}
.pub_style .box .ca p.l{  left:-1px;}
.pub_style .box .ca p.r{ right:-1px;}
.pub_style .box .ca a{ height:19px; display:block; float:left; padding-left:5px; padding-right:3px; line-height:20px; color:#4790DB; text-decoration:none; overflow:hidden;}
.pub_style .box .ca a:hover{ color:#4790DB;}

.pub_style .box .ca .hover p{  background:#4790DB; }
.pub_style .box .ca .hover a{  background:#4790DB; color:#fff;}


/********** 我想去的 ************/

.pub_style .i_w_g{}

.i_w_g ul{ float:left; margin-top:-10px; width:662px;}
.i_w_g ul li{ float:left; width:303px; height:80px; background:#fafafa; position:relative; padding:10px; margin-right:12px; margin-top:10px; display:inline; }/***  WIDTH:325PX  ****/
.i_w_g ul li p{ position:absolute; background:#fafafa; width:1px; height:98px; top:1px;}
.i_w_g ul li p.l{ left:-1px;}
.i_w_g ul li p.r{ right:-1px; _right:-2px;}
.i_w_g ul li .photo{ width:80px; height:80px; float:left; margin-right:13px; display:inline;}
.i_w_g ul li h2{ float:left; margin-top:1px;}
.i_w_g ul li h2 a{ font-size:14px; font-weight:bold; color:#666; text-decoration:none;}
.i_w_g ul li h2 a:hover{ color:#5495DA; text-decoration:none;}
.i_w_g ul li span{ float:left; color:#999; font-family:Tahoma; width:210px; margin-top:3px;}
.i_w_g ul li a{ color:#56A0E0; text-decoration:none;} 
.i_w_g ul li a:hover{ text-decoration:underline;}
.i_w_g ul li .user{ margin-right:3px;}
.i_w_g ul li .num{ margin-right:3px; margin-left:3px; font-weight:bold;}
.i_w_g ul li h5{ color:#999; float:left;}
.i_w_g ul li h5 a{ color:#4790DB; font-weight:bold; margin-right:5px;}



.i_w_g ul li a.btn{ background:url(../images/2qi/botton_v2.gif) no-repeat -190px -40px; width:50px; height:20px; overflow:hidden; color:#fff; line-height:20px; _line-height:22px;  position:absolute; right:10px; bottom:10px; text-decoration:none; text-align:center; display:none;}


.i_w_g ul li a.wg{  background:url(../images/2qi/botton_v2.gif) no-repeat -130px 0; width:50px; height:20px; overflow:hidden; color:#fff; line-height:20px; _line-height:22px;  position:absolute; right:10px; bottom:10px; text-decoration:none; text-align:center;}
.i_w_g ul li a.wg:hover{ background:url(../images/2qi/botton_v2.gif) no-repeat -130px 0; color:#fff; text-decoration:none;}

.i_w_g ul li a.unclick{ background:url(../images/2qi/botton_v2.gif) no-repeat -180px 0; width:50px; height:20px; overflow:hidden; color:#F7AC6F; line-height:20px; _line-height:22px; position:absolute; right:10px; bottom:10px; text-decoration:none; text-align:center;}
.i_w_g ul li a.unclick:hover{ background:url(../images/2qi/botton_v2.gif) no-repeat -180px 0; color:#F7AC6F; text-decoration:none;}



.i_w_g ul li.mr0{ margin-right:0px;}
.i_w_g ul  li.hover{ background:#FDF4D2;}
.i_w_g ul .hover p{ background:#FDF4D2;}
.i_w_g ul .hover a.btn{ display:block;}

.i_w_g ul li a.close{ display:none; }
.i_w_g ul .hover a.close{ width:19px; height:19px; overflow:hidden; background:url(../images/full_image1.png) no-repeat -560px -20px; _background:url(../images/image_ie6_1.png) no-repeat -560px -20px; display:block; position:absolute; top:8px; right:8px;}



/********** 好友想去的 热门 ************/




.pub_style .f_w_g{}

.f_w_g ul{ margin-top:-5px; float:left;}
.f_w_g ul li{ float:left; width:630px; height:80px; background:#fafafa; position:relative; margin-left:5px; padding:10px; margin-top:10px; display:inline; }/***  WIDTH:650PX  ****/
.f_w_g ul li p{ position:absolute; background:#fafafa; width:1px; height:98px; top:1px;}
.f_w_g ul li p.l{ left:-1px;}
.f_w_g ul li p.r{ right:-1px; }

.f_w_g ul li .photo1{ width:80px; height:80px; float:left; margin-right:13px; display:inline; overflow:hidden;}
.f_w_g ul li .photo2{ width:80px; height:80px; float:left; margin-right:13px; display:inline;}
.f_w_g ul li h2{ float:left; margin-top:3px; font-family:"微软雅黑","宋体"; font-size:15px; color:#333;  width:440px; }
.f_w_g ul li h2 a{ font-family:"微软雅黑","宋体"; font-size:15px; text-decoration:none;}
.f_w_g ul li h2 a:hover{  text-decoration:underline;}
.f_w_g ul li h2 .u{ color:#4790DB; margin-right:10px;}
.f_w_g ul li h2 .v{ color:#F26418; margin:0 10px;}
.f_w_g ul li h2 .v2{ color:#F26418; font-size:17px;}
.f_w_g ul li span{ color:#666; float:left; margin-top:10px; width:440px;}
.f_w_g ul li em{ color:#999; float:left; margin-top:10px;  width:440px;}
.f_w_g ul li strong{color:#999; float:left; margin-top:10px; font-family:Tahoma, Arial; width:440px;}
.f_w_g ul li strong a{ margin-left:5px; margin-right:5px; color:#56A0E0; font-weight:bold; text-decoration:none;}
.f_w_g ul li strong a:hover{ text-decoration:underline;}

.f_w_g ul li .xq{color:#666; float:left; margin-top:10px; width:500px; white-space:nowrap;}
.f_w_g ul li .xq a{ font-family:"微软雅黑","宋体"; font-size:15px; margin-right:10px; float:left; display:inline; color:#F26418; text-decoration:none; }
.f_w_g ul li .xq a:hover{ text-decoration:underline;}
.f_w_g ul li .xq b{ font-family:"微软雅黑","宋体"; font-size:15px; margin-right:10px; float:left; display:inline; color:#666; font-weight:normal;}
.f_w_g ul li .xq b a{ color:#4790DB; text-decoration:none; float:none; margin-left:3px; margin-right:3px;}
.f_w_g ul li .xq b a:hover{ text-decoration:underline;}



.f_w_g ul li a.iwg_big{ background:url(../images/2qi/botton_v2.gif) no-repeat 0 -30px; width:100px; height:40px; text-align:center; color:#fff; line-height:40px; position:absolute; right:20px; top:30px; text-decoration:none; display:none; font-weight:bold;}

.f_w_g ul li a.msgh{ background:url(../images/2qi/botton_v2.gif) no-repeat -110px -40px; width:75px; height:28px; text-align:center; color:#fff; line-height:28px; position:absolute; right:15px; top:15px; text-decoration:none; display:none;}

.f_w_g ul li a.iwg{ background:url(../images/2qi/botton_v2.gif) no-repeat 0 0; width:75px; height:28px; text-align:center; color:#fff; line-height:28px; position:absolute; right:15px; top:15px; text-decoration:none; display:none;}

.f_w_g ul li a.whg{ background:url(../images/2qi/botton_v2.gif) no-repeat -110px -40px; width:75px; height:28px; text-align:center; color:#fff; line-height:28px; position:absolute; right:15px; bottom:15px; text-decoration:none;  display:none;}

.f_w_g ul .hover .msgh{display:block;}
.f_w_g ul .hover .iwg_big{display:block;}
.f_w_g ul .hover .iwg{display:block;}
.f_w_g ul .hover .whg{display:block;}
.f_w_g ul .hover p{ background:#FDF4D2;}
.f_w_g ul li.hover{ background:#FDF4D2;}

.f_w_g .fxgd{ float:right; margin-right:25px; margin-top:10px; display:inline;}
.f_w_g .fxgd a{ float:left;  color:#4790DB;  text-decoration:none;}
.f_w_g .fxgd a:hover{ text-decoration:underline;}



/********** 个人页面 ************/


.my_page{  float:left; position:relative;}
.my_page .more_friend{ position:absolute; right:15px; top:13px; _right:50px;}
.my_page .more_friend a{color:#4790DB;  text-decoration:none;}
.my_page .more_friend a:hover{ text-decoration:underline;}

.my_page .head_area{ float:left; height:auto; overflow:hidden; padding:35px;}
.my_page .head_area .photo{ width:90px; height:90px; float:left; margin-right:15px; display:inline;}
.my_page .head_area .photo a{width:80px; height:80px; margin-left:5px; margin-top:5px; overflow:hidden; float:left;}


.my_page .head_area h2{ font-family:"微软雅黑","宋体"; color:#333; float:left; font-size:15px; width:400px; margin-top:5px;}
.my_page .head_area h2 a.uname{ font-family:"微软雅黑","宋体"; color:#333;  font-size:15px; text-decoration:none;}
.my_page .head_area h2 a.uname:hover{text-decoration:underline;}
.my_page .head_area h2 a.fxgd{ font-family:"宋体"; color:#5A9ADC;  font-size:12px; text-decoration:none; margin-left:20px;  text-decoration:underline;}


.my_page .head_area p{ color:#999;width:400px; float:left; margin-top:8px; width:500px; }
.my_page .head_area span{ float:left; margin-top:8px;}
.my_page .head_area span a{ background:url(../images/2qi/botton_v2.gif) no-repeat -110px -40px; text-align:center; color:#fff; width:75px; height:28px; font-weight:bold; line-height:28px; display:block; float:left; text-decoration:none;}

.my_page .gtah,.my_page .txqd{ background:url(../images/2qi/my_page_box_bg.jpg) repeat-x; width:700px; height:auto; padding-bottom:30px; float:left;}
.my_page .gtah h3,.my_page .txqd h3{ padding-left:35px; color:#666; font-weight:bold; float:left; margin-top:13px;}

.gtah ul { float:left; margin-left:35px; display:inline; margin-top:10px; width:100%; }
.gtah ul li{ float:left; width:90px; height:120px; overflow:hidden; padding-bottom:10px; margin-right:18px; display:inline; margin-top:5px;}
.gtah ul li p{ float:left; text-align:center; width:90px;}
.gtah ul li h2{ width:90px; float:left; margin-top:5px; text-align:center;}
.gtah ul li h2 a{color:#666; text-decoration:none;}
.gtah ul li h2 a:hover{color:#4790DB; text-decoration:underline;}



/***
.txqd ul { float:left; margin-left:35px; display:inline; margin-top:10px;}
.txqd ul li{ float:left; width:610px; height:80px; background:#fafafa; position:relative;  padding:10px; margin-top:10px; display:inline; }/***  WIDTH:650PX  
.txqd ul li p{ position:absolute; background:#fafafa; width:1px; height:98px; top:1px;}
.txqd ul li p.l{ left:-1px;}
.txqd ul li p.r{ right:-1px; }
****/
.txqd ul { float:left; margin-left:35px; display:inline; margin-top:10px; width:100%; }
.txqd ul li{ float:left; width:90px; height:120px; overflow:hidden; padding-bottom:10px; margin-right:18px; display:inline; margin-top:5px;}
.txqd ul li p{ float:left; text-align:center; width:90px;}
.txqd ul li h2{ width:90px; float:left; margin-top:5px; text-align:center;}
.txqd ul li h2 a{color:#666; text-decoration:none;}
.txqd ul li h2 a:hover{color:#4790DB; text-decoration:underline;}







/***

.txqd ul li .photo1{ width:80px; height:80px; float:left; margin-right:10px; display:inline;}
.txqd ul li h2{ float:left; margin-top:3px; font-family:"微软雅黑","宋体"; font-size:15px; color:#333;  width:440px; }
.txqd ul li h2 a{ font-family:"微软雅黑","宋体"; font-size:15px; text-decoration:none;}
.txqd ul li h2 a:hover{  text-decoration:underline;}
.txqd ul li h2 .u{ color:#4790DB; margin-right:10px;}
.txqd ul li h2 .v{ color:#F26418; margin:0 10px;}
.txqd ul li h2 .v2{ color:#F26418; }
.txqd ul li span{ color:#666; float:left; margin-top:10px; width:440px;}
.txqd ul li em{ color:#999; float:left; margin-top:10px;  width:440px;}
.txqd ul li strong{color:#999; float:left; margin-top:10px; font-family:Tahoma, Arial; width:440px;}
.txqd ul li strong a{ margin-left:5px; margin-right:5px; color:#56A0E0; font-weight:bold; text-decoration:none;}
.txqd ul li strong a:hover{ text-decoration:underline;}


.txqd ul li a.iwg{ background:url(../images/2qi/botton_v2.gif) no-repeat 0 0; width:75px; height:28px; text-align:center; color:#fff; line-height:28px; position:absolute; right:15px; top:15px; text-decoration:none; display:none;}

.txqd ul li a.ytj{ background:url(../images/2qi/ytj.gif) no-repeat 0 0; width:75px; height:28px; text-align:center; color:#F7BB8D; line-height:28px; position:absolute; right:15px; top:15px; text-decoration:none; display:none; cursor:default;}

.txqd ul li a.whg{ background:url(../images/2qi/botton_v2.gif) no-repeat -110px -40px; width:75px; height:28px; text-align:center; color:#fff; line-height:28px; position:absolute; right:15px; bottom:15px; text-decoration:none;  display:none;}


.txqd ul .hover .iwg_big{display:block;}
.txqd ul .hover .iwg{display:block;}
.txqd ul .hover .ytj{display:block;}
.txqd ul .hover .whg{display:block;}
.txqd ul .hover p{ background:#FDF4D2;}
.txqd ul li.hover{ background:#FDF4D2;}

****/



/***** 项目页****/

/***** project_sub ****/
.content .mid .back_to_home{ position:absolute; right:20px; top:20px;}
.content .mid .back_to_home a{ color:#5A9ADC; text-decoration:none;}
.content .mid .back_to_home a:hover{ text-decoration:underline;}
.content .mid .project_sub{ padding-top:25px; padding-bottom:20px;}


.mid .project_sub .photo{ background:url(../images/full_image1.png) no-repeat -590px -330px; _background:url(../images/image_ie6_1.png) no-repeat -590px -330px;  width:120px; height:120px; padding:7px; margin-right:22px; margin-left:25px; display:inline;}

.mid .project_sub .infor{ *width:360px;}
.mid .project_sub .infor h2{ margin-top:8px; font-size:16px; font-family:"微软雅黑", "宋体"; color:#333; font-weight:bold;}
.mid .project_sub .infor a.fxgd{ font-family:"宋体"; color:#5A9ADC; font-size:12px; text-decoration:underline; margin-left:20px; font-weight:normal;}


.mid .project_sub .infor h5{ color:#999; margin-top:8px; width:460px; line-height:180%;}

.mid .project_sub .infor .ytj{ float:left; margin-right:10px; height:40px; margin-top:10px;}
.ytj p{ background:#FDF4D2; width:1px; height:38px; margin-top:1px; display:block; float:left;}

.ytj span{ padding-left:10px; padding-right:10px; height:40px; line-height:40px; color:#999; font-size:14px; font-weight:bold; background:#FDF4D2; display:block; float:left;}
.ytj span em{ font-weight:bold; float:left;}
.ytj span strong{ font-size:12px; float:left; margin-left:4px; margin-right:6px;}
.ytj span a{ font-size:12px; color:#5A9ADC; text-decoration:none; font-weight:normal;}
.ytj span a:hover{ text-decoration:underline;}


.mid .project_sub .infor h5 a{ color:#4E90DB; text-decoration:underline;}
.mid .project_sub .infor a.btn{ width:104px; height:44px; display:block inline; line-height:44px; text-decoration:none; font-weight:bold; float:left; margin-right:10px; margin-top:8px; text-align:center; font-size:12px; font-weight:bold;}
.mid .project_sub .infor a.want{  background:url(../images/project_sub.png) no-repeat 0 0; color:#CC6600;}
.mid .project_sub .infor a.want:hover{ background:url(../images/project_sub.png) no-repeat 0 -50px;}
.mid .project_sub .infor a.zjl{ background:url(../images/project_sub.png) no-repeat 0 -100px; color:#666;}
.mid .project_sub .infor a.zjl:hover{ background:url(../images/project_sub.png) no-repeat 0 -150px; }
.mid .project_sub .infor a.yqhy{ background:url(../images/project_sub.png) no-repeat 0 -100px; color:#666;}
.mid .project_sub .infor a.yqhy:hover{ background:url(../images/project_sub.png) no-repeat 0 -150px; }


.project_sub .wantgolist { width:700px; height:auto; overflow:hidden; padding-top:30px;}
.project_sub .wantgolist .title{ width:100%; height:50px; background:url(../images/img_y.png) repeat-x left bottom; _background:url(../images/img_y_ie6.png) repeat-x left bottom; margin:0 auto; padding:0 15px;}
.wantgolist .title h3{ float:left; font-size:14px; color:#666; line-height:50px; font-weight:bold; margin-left:15px; margin-right:15px; display:inline; }
.wantgolist .title em{ width:2px; height:50px; float:left; background:url(../images/project_sub.png) no-repeat -120px 0;} 


.wantgolist .title a{ float:left; margin-left:15px; display:block inline; *cursor:pointer; text-decoration:none; margin-top:10px; }
.wantgolist .title p{ width:1px; height:25px; overflow:hidden; float:left; margin-top:1px;}
.wantgolist .title strong{ float:left; margin-left:3px; display:inline; font-size:12px; font-weight:bold;}

.wantgolist .title .link span{  float:left; line-height:27px; line-height:29px\9;  padding-left:10px; padding-right:10px; color:#4E90DB; height:27px; overflow:hidden; }
.wantgolist .title .new{ color:#4E90DB;}

.wantgolist .title .active p.l{ background:#4E90DB;}
.wantgolist .title .active p.r{ background:#4E90DB;}
.wantgolist .title .active span{ background:#4E90DB; float:left; line-height:27px; line-height:29px\9; *line-height:27px; _line-height:29px; padding-left:10px; padding-right:10px; color:#fff; height:27px; overflow:hidden; font-weight:bold;}


.item_list{ width:690px; height:auto; overflow:hidden; margin-left:10px; margin-top:10px;}
.item_list .item_w{ width:325px; height:70px; float:left; margin-left:10px; display:inline; margin-top:10px; position:relative; background:#fafafa}
.item_list .item_w p{ width:50px; height:50px; overflow:hidden; margin-left:10px; margin-top:10px; margin-right:10px; display:inline; float:left;}
.item_list .item_w h3{  float:left; margin-top:12px; width:150px; padding-bottom:8px;}
.item_list .item_w h3 a.user{ font-size:14px; color:#666; font-weight:bold; text-decoration:none; color:#666;}
.item_list .item_w h3 a.user:hover{ text-decoration:underline; color:#5A9ADC;}

.item_list .item_w span{ float:left; color:#999; font-family:Tahoma; width:245px; }
.item_list .item_w span font{ font-size:10px; margin-left:5px;}

.item_list .item_w a.btn{ width:50px; height:20px; line-height:20px; _line-height:22px; text-align:center; color:#666; text-decoration:none; background:url(../images/2qi/botton_v2.gif) no-repeat -240px -40px; display:block inline; position:absolute; top:12px; right:10px; color:#61A0DF;} 
.item_list .item_w a.btn:hover{ color:#fff; background:url(../images/2qi/botton_v2.gif) no-repeat -190px -40px;}

.item_list .item_w .l{position:absolute; width:1px; height:68px; left:-1px; top:1px; overflow:hidden;}
.item_list .item_w .r{ position:absolute; width:1px; height:68px; right:-1px; top:1px; overflow:hidden;}

.item_list .item_w a.unclick{ background:url(../images/2qi/botton_v2.gif) no-repeat -180px 0; color:#F7AC6F;}
.item_list .item_w a.unclick:hover{background:url(../images/2qi/botton_v2.gif) no-repeat -180px 0; color:#F7AC6F;}

.item_list .link em{ background:#fafafa;}
.item_list .link{ background:#fafafa;}

.item_list .hover em{ background:#FDF4D2;}
.item_list .hover{ background:#FDF4D2;}

.page_dw{ float:right; margin-right:20px; display:inline; *padding-bottom:18px;}

.item_loading{ width:660px; height:auto; margin:0 auto; overflow:hidden; text-align:center; margin-top:100px; padding-bottom:100px;}
.item_none{  height:auto; width:660px;  margin:0 auto; display:block; overflow:hidden; text-align:center; margin-top:100px; padding-bottom:100px; color:#999; }
.item_none a{ color:#4790DB; text-decoration:none;}
.item_none a:hover{ color:#4790DB; text-decoration:underline;}

.item_none2{ height:auto; width:660px; margin:0 auto; display:block; overflow:hidden; text-align:center; margin-top:40px; padding-bottom:20px; color:#999;}
.item_none2 a{ color:#4790DB; text-decoration:none;}
.item_none2 a:hover{ color:#4790DB; text-decoration:underline;}



/*****打分*****/
.mid .jz_box .df{ width:470px;}
.mid .jz_box .df h2{ margin-top:1px; line-height:200%;}
.mid .jz_box .df h2 span{ font-size:16px; font-family:"微软雅黑", "宋体";}
.mid .jz_box .df h2 .u{ color:#336AAE; margin:0 8px;}
.mid .jz_box .df h2 .u a{ color:#336AAE; text-decoration:none;}
.mid .jz_box .df h2 .u a:hover{ text-decoration:underline;}
.mid .jz_box .df h2 a.user{color:#336AAE; text-decoration:none;}
.mid .jz_box .df h2 a.user:hover{ text-decoration:underline; }
.mid .jz_box .df h2 .w{ color:#666; }
.mid .jz_box .df p{ color:#999; margin-top:20px; padding-bottom:20px;}

.mid .jz_box .df .df_btn{}
.mid .jz_box .df .df_btn a{ width:124px; height:44px; display:block; text-align:center; font-size:14px; font-weight:bold; line-height:44px; background:url(../images/full_image1.png) no-repeat; _background:url(../images/image_ie6_1.png) no-repeat; float:left; margin-right:10px; text-decoration:none;}
.mid .jz_box .df .df_btn a.yes{ color:#628B2A; background-position:-20px -550px; }
.mid .jz_box .df .df_btn a.yes:hover{ color:#4E7913; background-position:-20px -600px; }
.mid .jz_box .df .df_btn a.no{ color:#3E76AE; background-position:-150px -550px; }
.mid .jz_box .df .df_btn a.no:hover{ color:#205F9D; background-position:-150px -600px; }


/*****打分2*****/
.jz_box .star {  }
.jz_box .star span{ width:32px; height:32px; margin-right:10px; overflow:hidden; display:line; float:left; cursor:pointer;}
.jz_box .star span.link{ background:url(../images/full_image1.png) no-repeat -700px -15px; _background:url(../images/image_ie6_1.png) no-repeat -700px -15px;}
.jz_box .star span.hover{ background:url(../images/full_image1.png) no-repeat -660px -15px; _background:url(../images/image_ie6_1.png) no-repeat -660px -15px;}
.jz_box .star em{ float:left; line-height:30px; font-size:16px; font-family:"微软雅黑", "宋体"; color:#333; margin-left:10px; display:inline; margin-top:1px;}


/********** 没有消息了************/
.none_message{ float:left; padding:45px;}
.none_message h2{ background:url(../images/full_image1.png) no-repeat -685px -540px; _background:url(../images/image_ie6_1.png) no-repeat -685px -540px; color:#fff; width:93px; height:98px; float:left; margin-right:30px; display:inline;}
.none_message p{font-family:"微软雅黑", "宋体"; font-size:20px; color:#666; float:left;  margin-top:10px; width:480px;}
.none_message a{font-family:"微软雅黑", "宋体"; font-size:15px; text-decoration:none; margin-top:20px; color:#488AD8; float:left;}
.none_message a:hover{ text-decoration:underline;}



/********** LOADINGS************/
.loading_home{ width:700px; height:auto; display:block; margin:0 auto; margin-top:28px; position:relative; text-align:center; }
.loading_home .top{ width:698px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}
.loading_home .mid{ width:700px; height:194px; overflow:hidden; background:#FFF; position:relative; z-index:998;}
.loading_home .bot{ width:698px; height:1px;  overflow:hidden;  background:#FFF; margin:0 auto;}

.loading_home span{ float:left; margin-left:270px; display:inline; margin-top:75px;}
.loading_home p{font-family:"微软雅黑", "宋体"; font-size:20px; color:#999; float:left; margin-top:80px; margin-left:10px; display:inline;}




/********** 无导航LOADINGS************/
.skin_body .skin_top_bg_new{width:100%; height:auto; min-height:330px; _height:330px; overflow:hidden; _overflow:none; position:relative; padding-bottom:61px;}
.loading{ background:url(../images/full_image1.png) no-repeat -160px -130px;  _background:url(../images/image_ie6_1.png) no-repeat -160px -130px; color:#fff; width:354px; height:84px; margin-left:220px; display:inline; margin-top:150px; float:left;}
.loading span{ float:left; margin-left:30px; display:inline; margin-top:25px;}
.loading p{ float:left; margin-left:20px; display:inline; margin-top:32px; font-family:"微软雅黑", "宋体"; font-size:20px; color:#888;}











.skin_bottom{ width:100%; height:9px; overflow:hidden; background:url(../images/2qi/wb_760_r7_c1.png) no-repeat;}

/***********留言弹出层**************************/
.cantact_user{ width:250px; height:auto; overflow:hidden; background:#fff;}
.cantact_user .text_area{ float:left;}
.cantact_user .text_area textarea{ background:#fafafa; border:1px solid #ccc; width:239px; height:72px; overflow:hidden; color:#666; padding:5px;} 
.cantact_user .bt{ float:right; margin-left:20px; display:inline; margin-top:5px;}
.cantact_user .ck{float:right; color:#666;}
.cantact_user .ck p{ float:left; margin-right:10px; display:inline;}
.cantact_user .ck p em{ float:left; margin-top:13px; *margin-top:9px;}
.cantact_user .ck p span{ float:left; margin-left:5px; display:inline; margin-top:11px;*margin-top:10px;_margin-top:11px; *margin-left:3px; }
.cantact_user .bt a{ width:74px; height:34px; background:url(../images/full_image1.png) no-repeat -355px -85px; _background:url(../images/image_ie6_1.png) no-repeat -355px -85px;  text-align:center; line-height:34px; color:#fff; display:block; float:left; text-decoration:none; font-weight:blod;}

.cantact_user .sending{ float:right; margin-top:10px; margin-right:5px; display:inline; height:30px;}
.cantact_user .sending .loading_icon{ float:left;}
.cantact_user .sending strong{ float:left; font-size:14px; color:#999; font-family:"微软雅黑","宋体"; margin-left:5px; display:inline;}




/***********分享弹出层**************************/


.share_wb{ width:465px; height:auto; overflow:hidden;  float:left;}

.share_wb .area{ padding:15px; float:left; background:#fff;  width:435px;}
.share_wb .area p{ width:120px; height:120px; overflow:hidden; float:left; }
.share_wb .area span{ float:right; width:300px; height:120px; overflow:hidden;}
.share_wb .area span textarea{ width:290px; height:110px; *height:108px; overflow:hidden; border:1px solid #ccc; color:#333; padding:4px; background:url(../images/2qi/textarea_bg.gif) no-repeat; color:#666;}

.share_wb .btn{ float:left; background:#F6F6F6; border-top:1px solid #DADEE5; height:35px; width:435px; padding:5px 15px;}

.share_wb .btn p{ float:left; margin-left:3px; display:inline;}
.share_wb .btn p b{ float:left; margin-top:10px; *margin-top:7px; _margin-top:6px;}
.share_wb .btn p em{ float:left; margin-left:5px; color:#666; margin-top:8px; display:inline; *margin-left:3px;}
.share_wb .btn span{  float:right; }

.share_wb .btn span a{color:#fff; width:84px; height:36px; line-height:36px; text-align:center; font-weight:bold; font-size:14px; display:block; text-decoration:none; background:url(../images/2qi/share_btn.jpg) no-repeat 0 0;}
.share_wb .btn span a:hover{ background:url(../images/2qi/share_btn.jpg) no-repeat 0 -40px;}

.share_wb .sending{ float:right; margin-top:8px; margin-right:3px; display:inline;}
.share_wb .sending .loading_icon{ float:left;}
.share_wb .sending strong{ float:left; font-size:14px; color:#999; font-family:"微软雅黑","宋体"; margin-left:5px; display:inline;}