/* reset */
body{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:150%; padding: 0; margin: 0; background:url(../images/promotion/app_web_bg.jpg) repeat; height:100%;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,blockquote,th,td {   
    padding: 0;   
    margin: 0;   
}   
table {   
    border-collapse: collapse;   
    border-spacing: 0;   
}   
fieldset,img {   
    border: 0;   
}   
address,caption,cite,code,dfn,em,strong,th,var {   
    font-weight: normal;   
    font-style: normal;   
}   
ol,ul {   
    list-style: none;   
}   
caption,th {   
    text-align: left;   
}   
h1,h2,h3,h4,h5,h6 {   
    font-weight: normal;   
    font-size: 100%;   
}   
q:before,q:after {    
    content:'';   
}   
abbr,acronym { border: 0;   
} 
.clear{ clear:both;}
.fl{ float:left; _display:inline;}
.fr{ float:right; _display:inline;}


a{text-decoration:none;}




.app{ background:url(../images/promotion/app_bg.png) no-repeat; width:742px; height:414px; margin:0 auto; margin-top:100px; overflow:hidden;}
.app .sen_area{ float:left; width:650px; height:360px; margin-left:67px; margin-top:30px;  display:inline;}

.sen1{ float:left; width:100%; height:100%;}
.sen1 .sen1_txt{ background:url(../images/promotion/app_sen1_text.jpg) no-repeat; width:165px; height:111px; float:right; margin-top:85px; }
.sen1 .sen1_btn{ float:left; margin-top:40px; margin-left:40px; display:inline;}
.sen1 .sen1_btn a{ background:url(../images/promotion/app_sen1_btn.jpg) no-repeat; width:134px; height:49px; display:block; overflow:hidden;}
.sen1 .sen1_img{ background:url(../images/promotion/app_sen1_right_pic.png) no-repeat; width:432px; height:312px; float:right; margin-right:10px; display:inline;}


.sen2{ float:left; width:100%; height:100%;}
.sen2 .sen2_txt{ background:url(../images/promotion/app_sen2_text.jpg) no-repeat; width:133px; height:63px; float:right; margin-top:85px; margin-right:22px; display:inline;}
.sen2 .sen2_btn{ float:left; margin-top:85px; margin-left:40px; display:inline;}
.sen2 .sen2_btn a{ background:url(../images/promotion/app_sen1_btn.jpg) no-repeat; width:134px; height:49px; display:block; overflow:hidden;}
.sen2 .sen2_img{ background:url(../images/promotion/app_sen2_right_pic.png) no-repeat; width:420px; height:304px; float:right; margin-right:30px; display:inline;}
.sen2 p{ float:left; margin-left:45px; margin-top:5px; display:inline; color:#ccc;}



.sen3{ float:left; width:100%; height:100%;}
.sen3 .loading_icon{ background:url(../images/promotion/app_sen3_icon.png) no-repeat; width:151px; height:100px; float:left; overflow:hidden; margin-top:130px; margin-left:100px; display:inline;}

.sen3 .loading_text{ float:left; margin-left:20px; display:inline; margin-top:165px;}



.sen4{ float:left; width:100%; height:100%;}

.sen4 .photo{ background:url(../images/promotion/app_sen4_iframe.jpg) no-repeat; width:180px; height:180px; padding:7px; overflow:hidden; float:left; margin-top:80px; margin-left:50px; display:inline;}

.sen4 .photo_right{ float:left; width:350px; height:auto; overflow:hidden; margin-left:20px; margin-top:85px;}
.sen4 .photo_right p{ color:#999; font-size:16px; font-family:"微软雅黑"; font-weight:bold; width:100%; line-height:normal;}
.sen4 .photo_right p b{ color:#F74D63; margin:0 8px; font-size:20px;}
.sen4 .photo_right span{ float:left; margin-top:100px;}
.sen4 .photo_right span a{ background:url(../images/promotion/app_sen3_btn.jpg) no-repeat; display:block; width:134px; height:49px;}

.sen4 .logo{float:left; display:inline; margin-top:120px; overflow:hidden; margin-left:20px; }
.sen4 .logo a{ background:url(../images/promotion/app_sen4_jz_logo.png) no-repeat; width:215px; height:25px; overflow:hidden; display:block; color:#478FDB; font-size:18px; font-family:"微软雅黑"; padding-left:30px; line-height:23px;}
.sen4 .logo a:hover{ text-decoration:underline;}


.error{ float:left; width:100%; height:100%;}
.error em{ float:left; width:87px; height:100px; overflow:hidden; margin-left:110px; margin-top:120px; margin-right:20px; display:inline;}
.error p{ float:left; margin-top:145px; width:400px;}
.error a{ font-size:14px; font-weight:bold; color:#FB556A; float:left; margin-top:10px; white-space:nowrap;}
.error a:hover{ text-decoration:underline;}